<div class="projectlister">
  <div class="projectTitle">
      your marks
  </div>
  <div class="float-pro">
    <a [routerLink]="'landing'"  routerLinkActive="active"><mat-icon>home</mat-icon><span>home</span></a>

    <a [routerLink]="'uploaded'" routerLinkActive="active"> <mat-icon>folder</mat-icon><span>uploaded tasks</span></a>

    <a [routerLink]="'upload/:1'" routerLinkActive="active"><mat-icon >cloud_upload</mat-icon><span>upload task</span></a>
  </div>
</div>
<div class="directory_marks">
<router-outlet></router-outlet>
</div>
