<div class="back_history">
  <div class="darregion"></div>
    <div class="draging_header_region">
     <img src="../../assets/others/logo.png" alt="">
     <span > <a routerLink="/">Rcode</a></span>
    </div>
       <ul>
          <li (click)="minimizewindow()"><img src="../../assets/others/minimize.png" alt=""></li>
          <li (click)="maximizewindow()" id="maximize"><img src="../../assets/others/maximize_button.png" alt=""></li>
          <li (click)="restorewindow()" id="restore"><img src="../../assets/others/restore_down.png" alt=""></li>
          <li (click)= "closewindow()"><img src="../../assets/others/close.png" alt=""></li>
       </ul>

 </div>
