
.split-example-page {
    display: block;
    width: 100%;
}

.split-example {
    position: absolute;
    width:100%;
    height: calc(100% - 62.5px);
    background:rgb(30,30,30);

}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.directory_header {
    position: sticky;
    display:flex;
    top: 0px;
    width: 100%;
    height: 35px;
    z-index: 200;
    box-shadow: 1px 2px 3px #0f0f0f;
    background-color: rgb(47, 47, 47);
    .tabsmarks{
      display:flex;
      flex: 1;
      height:35px;
      overflow: hidden;
    }
    .tabactions{
      display:flex;
      justify-content:center;
      width:60px;
      height:35px;
    .runbutton{
      margin-top:5px;
      height:25px;
      width:30px;
      border-radius: 3px;
      border:none;
      margin-right: 3px;
      color:white;
      background:transparent;
      cursor: pointer;
      &:hover{
        background: rgba(23, 202, 38, 0.473);
      }

  }
}
}
.codediveditor{
    // box-sizing: border-box;
    position:relative;
    width:100%;
    height:calc(100% - 35px);
    background:rgb(30,30,30);
}
#left-nav {
    float:left;
    position: relative;
    width:50px;
    left: 0;
    background-color: rgb(59, 58, 58);
    z-index: 999;
    height:calc(100%)
  }

  #github-link {
    position: absolute;
    bottom: 10px;
    width:50px;
    display:-webkit-box;
    -webkit-box-pack:center;
    user-select: none;
  }

  #github-link img{
    height: 26px;
    width: 26px;
  }

  .left-nav-button svg {
    width: 26px;
    height: 26px;
  }

  .left-nav-button {
    width: auto;
    padding: 10px 0 10px 0;
    height: 2rem;
    text-align: center;
    color: #C0C0C0;
    background:none;
    border:none;
    font: inherit;
    outline:none;
  }

  .left-nav-button:hover{
    color: white;
    cursor:pointer;
  }

  .left-nav-button.active {
    color: white;
    border-left:2px solid white;
  }
  #left-sidebar {
    float:left;
    height: 100%;
    width: 0;
    position: relative;
    top: 0px;
    background-color: rgb(37, 37, 37);
    overflow-x: hidden;
    transition: 0.2s;
    z-index: 90
  }

  .tabcontent {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }

  /* 用于隐藏scroll bar */
  #left-sidebar::-webkit-scrollbar {
    display: none;
  }

  #left-sidebar {
    scrollbar-width: none;
  }


  .sidebar-top-title {
    color: white;
    font-size: 15px;
    font-weight: 100;
    padding-left: 27px;

    line-height: 50px;
    height: 50px;
  }

  .sidebar-top-title p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
  }
  .nav-title{
    background-color: #4b4b4b;
    border: none;
    color: white;
    width: 250px;
    margin: 0;
    padding: 5px 0 5px 10px;
    position: relative;
    height: 28px;
    overflow: hidden;

    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    outline:none;
  }


#file-manager-title {
width: 220px;
}

.selectpanel{
  background:rgb(30,30,30);
}

form {
  position: relative;
  width: 100%;
}

.chosen-value,
.value-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.chosen-value {
  font-family: 'Ek Mukta';
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
  height: 4rem;
  font-size: 1.1rem;
  padding: 1rem;
  background-color: #FAFCFD;
  border: 3px solid transparent;
  transition: .3s ease-in-out;

  &::-webkit-input-placeholder {
    color: #333;
  }

  &:hover {
    background-color: #FF908B;
    cursor: pointer;

    &::-webkit-input-placeholder {
      color: #333;
    }
  }

  &:focus,
  &.open {
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.2);
    outline: 0;
    background-color: #FF908B;
    color: #000;

    &::-webkit-input-placeholder {
      color: #000;
    }
  }
}

.value-list {
  list-style: none;
  margin-top: 4rem;
  box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.2);
  overflow: hidden;
  max-height: 0;
  transition: .3s ease-in-out;

  &.open {
   max-height: 320px;
   overflow: auto;
  }

  li {
    position: relative;
    height: 4rem;
    background-color: #FAFCFD;
    padding: 1rem;
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color .3s;
    opacity: 1;

    &:hover {
      background-color: #FF908B;
    }

    &.closed {
      max-height: 0;
      overflow: hidden;
      padding: 0;
      opacity: 0;
    }
  }
}
.hideeditor{
  display:none !important;
}
.tabinactive{
  background:rgb(60,60,60) !important;
}
.common-footer {
  display:flex;
  color: #eee;
  height: 22px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  width: calc(100%);
  background: rgb(51, 103, 214);
  padding-top: 5px;
}





.tab.sizing-fit {
  width: 120px;
  min-width: fit-content;
  min-width: -moz-fit-content;
  flex-shrink: 0;
}
.tab {
  position: relative;
  display: flex;
  white-space: nowrap;
  cursor: pointer;
  height: 35px;
  box-sizing: border-box;
  padding-left: 10px;
  &:hover{
    .tab-close{
      .action-label{
      opacity: 1;
    }
  }
  }
}
.tab-border-top-container {
  display: none;
}
.tab.sizing-fit .monaco-icon-label{
  overflow: visible;
  padding-top: 10px;
}
.tab .tab-label{
  white-space: nowrap;
  flex: 1;
}
.tab .tab-label {
  margin-top: auto;
  margin-bottom: auto;
}
.monaco-icon-label {
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tab .monaco-icon-label:before {
  height: 16px;
}
.monaco-icon-label::before{
  content: ' ';
  background-image: url(../../../assets/icons/favicon.png);
}
.monaco-icon-label:before {
  background-size: 16px;
  background-position: 0;
  background-repeat: no-repeat;
  padding-right: 6px;
  width: 16px;
  height: 22px;
  line-height: inherit!important;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
  flex-shrink: 0;
}
.title .tabs-container>.tab {

  cursor: pointer;

}
.tab .tab-label span{
  cursor: pointer;
  white-space: nowrap;
}
.tab .tab-label a{
  cursor:pointer;
  text-decoration: none;
  font-size: 13px;
  color: inherit;
  white-space: pre;
}
.tab>.tab-close {
  margin-top: auto;
  margin-bottom: auto;
  width: 28px;
}
.monaco-action-bar {
  text-align: right;
  white-space: nowrap;
}
.monaco-action-bar .actions-container {
  display: flex;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  justify-content: flex-end;
}
.monaco-action-bar .action-item {
  cursor: pointer;
  display: inline-block;
  transition: transform 50ms ease;
  position: relative;
}
.tab>.tab-close .action-label.codicon {
  color: inherit;
  font-size: 16px;
}
.tab>.tab-close .action-label {
  opacity: 0;
  display: block;
  height: 16px;
  width: 16px;
  background-size: 16px;
  background-position: 50%;
  background-repeat: no-repeat;
  margin-right: .5em;
}

.termianal{
  display: flex;
  flex-direction: column;
  width:100%;
  height: 100%;
  background-color: black;
  .header{
    width:100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(30, 30, 30);
    position: sticky;
    top: 0px;
    .switchcontainer{
      line-height: 27px;
      position: sticky;
      top: 0px;
      height: 35px;
      .actions-container {
        display: flex;
        margin: 0 auto;
        padding: 0;
        width: 100%;
        justify-content: flex-end;
        .action-tab {
          line-height: 27px;
          width: 100px;
          text-transform: uppercase;
          font-size: 11px;
          display: flex;
          text-align: center;
          height: 35px;
          a{
            width: 100%;
            padding-top: 5px;
            &.active{
            border-bottom: 1px solid white;
            color: rgb(255, 254, 254);
          }
        }
        }
      }
    }
  }
  .tabcontentM{
    display: none;
    width: 100%;
    flex: 1;
    background: rgb(30,30,30);
    .modal{
     margin: 0 auto;
    }
  }
}

.modal-body{
display: flex;
.basicstomark{
  width: 50%;
  height: 100%;
  text-align: center;
}
.student_info {
  text-align: center;
  width: 50%;
  height: 100%;
}
select {
  display: block;
  width: 80%;
  margin-top: 20px;
  height: 30px;
  margin-left: 10%;
  -webkit-appearance: none;
  border-radius: 1px;
  -moz-border-radius: 1px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2),
      inset 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 4px;
  outline: none;
  -webkit-user-select: none;
  background-color: rgb(56, 56, 56);
  border: none;
  color: rgb(204, 204, 195);
  background-image: url('../../../assets/others/down-arrow.png');
  background-position: center right;
  background-repeat: no-repeat;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 30%;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.123);

}
input {
  border: none;
  display: block;
  width: 80%;
  margin-top: 20px;
  height: 30px;
  text-align: center;
  margin-left: 10%;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);

}
.marks_header {
  margin-left: 40px;
  margin-bottom: 20px;
  font-size: 16px;
  color: gray;
  margin-top: 10px;
}
&::placeholder {
  color: rgb(255, 255, 255);
}
textarea{
  width: 80%;
  border: none;
  display: block;
  margin-top: 20px;
  margin-left: 10%;
  height: 90px;
  padding-left: 5px;
}

}
