<app-dash-header></app-dash-header>
<div class="container">
  <div>
    <as-split class="split-example ex-percent" unit="percent" [direction]="direction" (dragEnd)="dragEnd($event)">
      <as-split-area [size]="sizes.percent.area1" style="min-width:50px">
        <div id="left-nav">
          <div role=button class="left-nav-button" id="left-nav-button-1" (click)="clickLeftNav($event, 'sidebar-1')">
            <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="file-alt"
              class="svg-inline--fa fa-file-alt fa-w-12" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 384 512">
              <path fill="currentColor"
                d="M288 248v28c0 6.6-5.4 12-12 12H108c-6.6 0-12-5.4-12-12v-28c0-6.6 5.4-12 12-12h168c6.6 0 12 5.4 12 12zm-12 72H108c-6.6 0-12 5.4-12 12v28c0 6.6 5.4 12 12 12h168c6.6 0 12-5.4 12-12v-28c0-6.6-5.4-12-12-12zm108-188.1V464c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V48C0 21.5 21.5 0 48 0h204.1C264.8 0 277 5.1 286 14.1L369.9 98c9 8.9 14.1 21.2 14.1 33.9zm-128-80V128h76.1L256 51.9zM336 464V176H232c-13.3 0-24-10.7-24-24V48H48v416h288z">
              </path>
            </svg>
          </div>

          <div role=button class="left-nav-button" id="left-nav-button-2" (click)="clickLeftNav($event, 'sidebar-2')">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="upload"
              class="svg-inline--fa fa-upload fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512">
              <path fill="currentColor"
                d="M296 384h-80c-13.3 0-24-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c12.6 12.6 3.7 34.1-14.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-24-24V376c0-13.3 10.7-24 24-24h136v8c0 30.9 25.1 56 56 56h80c30.9 0 56-25.1 56-56v-8h136c13.3 0 24 10.7 24 24zm-124 88c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20zm64 0c0-11-9-20-20-20s-20 9-20 20 9 20 20 20 20-9 20-20z">
              </path>
            </svg>
          </div>

          <div role=button class="left-nav-button" id="left-nav-button-3" (click)="clickLeftNav($event, 'sidebar-3')">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="tools"
              class="svg-inline--fa fa-tools fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512">
              <path fill="currentColor"
                d="M501.1 395.7L384 278.6c-23.1-23.1-57.6-27.6-85.4-13.9L192 158.1V96L64 0 0 64l96 128h62.1l106.6 106.6c-13.6 27.8-9.2 62.3 13.9 85.4l117.1 117.1c14.6 14.6 38.2 14.6 52.7 0l52.7-52.7c14.5-14.6 14.5-38.2 0-52.7zM331.7 225c28.3 0 54.9 11 74.9 31l19.4 19.4c15.8-6.9 30.8-16.5 43.8-29.5 37.1-37.1 49.7-89.3 37.9-136.7-2.2-9-13.5-12.1-20.1-5.5l-74.4 74.4-67.9-11.3L334 98.9l74.4-74.4c6.6-6.6 3.4-17.9-5.7-20.2-47.4-11.7-99.6.9-136.6 37.9-28.5 28.5-41.9 66.1-41.2 103.6l82.1 82.1c8.1-1.9 16.5-2.9 24.7-2.9zm-103.9 82l-56.7-56.7L18.7 402.8c-25 25-25 65.5 0 90.5s65.5 25 90.5 0l123.6-123.6c-7.6-19.9-9.9-41.6-5-62.7zM64 472c-13.2 0-24-10.8-24-24 0-13.3 10.7-24 24-24s24 10.7 24 24c0 13.2-10.7 24-24 24z">
              </path>
            </svg>
          </div>

          <div role=button class="left-nav-button" id="left-nav-button-4" (click)="clickLeftNav($event, 'sidebar-4')">
            <svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="cog"
              class="svg-inline--fa fa-cog fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path fill="currentColor"
                d="M487.4 315.7l-42.6-24.6c4.3-23.2 4.3-47 0-70.2l42.6-24.6c4.9-2.8 7.1-8.6 5.5-14-11.1-35.6-30-67.8-54.7-94.6-3.8-4.1-10-5.1-14.8-2.3L380.8 110c-17.9-15.4-38.5-27.3-60.8-35.1V25.8c0-5.6-3.9-10.5-9.4-11.7-36.7-8.2-74.3-7.8-109.2 0-5.5 1.2-9.4 6.1-9.4 11.7V75c-22.2 7.9-42.8 19.8-60.8 35.1L88.7 85.5c-4.9-2.8-11-1.9-14.8 2.3-24.7 26.7-43.6 58.9-54.7 94.6-1.7 5.4.6 11.2 5.5 14L67.3 221c-4.3 23.2-4.3 47 0 70.2l-42.6 24.6c-4.9 2.8-7.1 8.6-5.5 14 11.1 35.6 30 67.8 54.7 94.6 3.8 4.1 10 5.1 14.8 2.3l42.6-24.6c17.9 15.4 38.5 27.3 60.8 35.1v49.2c0 5.6 3.9 10.5 9.4 11.7 36.7 8.2 74.3 7.8 109.2 0 5.5-1.2 9.4-6.1 9.4-11.7v-49.2c22.2-7.9 42.8-19.8 60.8-35.1l42.6 24.6c4.9 2.8 11 1.9 14.8-2.3 24.7-26.7 43.6-58.9 54.7-94.6 1.5-5.5-.7-11.3-5.6-14.1zM256 336c-44.1 0-80-35.9-80-80s35.9-80 80-80 80 35.9 80 80-35.9 80-80 80z">
              </path>
            </svg>
          </div>

          <div id="github-link">
            <a href="https://github.com/luochang212/monaco-speech-editor" target="_blank"><img
                src="../../assets/others/logo.png" alt="github"></a>
          </div>
        </div>
        <div id="left-sidebar">
          <div id="sidebar-1" class="tabcontent">
            <div class="sidebar-top-title">
              <p>Explorer</p>
            </div>
            <app-selectstudent (filtertreedata)="filterTree($event)"></app-selectstudent>
            <app-filetree [nestedDataSource]=treeData (elementadd)="addFile($event)" ></app-filetree>
          </div>
          <div id="sidebar-2" class="tabcontent">
            <div class="sidebar-top-title">
              <p>Upload</p>
            </div>
          </div>
          <div id="sidebar-3" class="tabcontent">
            <div class="sidebar-top-title">
              <p>Feature List</p>
            </div>
          </div>
          <div id="sidebar-4" class="tabcontent">
            <div class="sidebar-top-title">
              <p>Setting</p>
            </div>
          </div>
        </div>
      </as-split-area>
      <as-split-area [size]="sizes.percent.area2">
        <as-split class="split-examplecode" unit="percent" direction="vertical" (dragEnd)="drag2End($event)">
          <as-split-area [size]="sizes.percent2.area1" [visible]="!play">
          <div class="directory_header">
            <div class="tabsmarks">
              <div draggable="true" tabindex="{{i}}" role="tab" *ngFor="let item of filearrays;let i = index" [ngClass]="{'tabinactive': i!=activeindex, 'tabactive': i==activeindex || filearrays.length == 0 }" (click)="activeindex=i"
                class="tab close-button-right sizing-fit has-icon dirty active" aria-label="marktask.component.html"
                aria-description=""
                title="~/Desktop/homeworks/Rcode/src/app/components/marktask/marktask.component.html"
                data-resource-name="marktask.component.html" aria-selected="true"
                style="border-right: 1px solid rgb(37, 37, 38); left: auto; background-color: rgb(30, 30, 30); color: rgb(255, 255, 255);">
                <div class="tab-border-top-container"></div>
                <div
                  class="monaco-icon-label"
                  title="~/Desktop/homeworks/Rcode/src/app/components/marktask/marktask.component.html">
                  <div class="monaco-icon-label-container"><span class="monaco-icon-name-container"><a
                        class="label-name">{{item.name}}</a></span><span
                      class="monaco-icon-description-container"></span></div>
                </div>
                <div class="tab-close" (click)="closetab(i)">
                  <div class="monaco-action-bar animated">
                    <ul class="actions-container" role="toolbar" aria-label="Tab actions">
                      <li class="action-item" role="presentation"><a class="action-label codicon codicon-close"
                          role="button" tabindex="0" title="Close (Ctrl+W)"></a></li>
                    </ul>
                  </div>
                </div>
                <div class="tab-border-bottom-container"></div>
              </div>
            </div>
            <div class="tabactions">
          <button class="runbutton" (click)="play=true"><mat-icon>play_arrow</mat-icon></button>
          <button class="runbutton" (click)="terminal=true" [hidden]="play"><mat-icon>code</mat-icon></button>
        </div>
        </div>
        <div class="codediveditor" *ngFor="let item of filearrays;let i= index" [ngClass]="{'hideeditor': i!=activeindex && filearrays.length != 0, 'showeditor': i==activeindex || filearrays.length == 0 }">
          <ngx-monaco-editor [options]="{theme: 'vs-dark', language: item.language}" [(ngModel)]="item.code"></ngx-monaco-editor>
        </div>
      </as-split-area>
      <as-split-area [size]="sizes.percent2.area2" [visible]="!play && terminal" >
        <div class="termianal">
          <div class="header">
           <div class="switchcontainer">
            <ul class="actions-container" role="toolbar" aria-label="Active View Switcher">
              <li class="action-tab active" role="tab" draggable="true" tabindex="0" ><a class="action-label"  style="color: rgba(231, 231, 231, 0.6);" (click)="openCity($event, 'terminal')" id="defaultopen">terminal</a>
              </li>
              <li class="action-tab" role="tab" draggable="true" tabindex="0" ><a class="action-label"  style="color: rgba(231, 231, 231, 0.6);" (click)="openCity($event, 'debug')">debug</a>
              </li>
              <li class="action-tab" role="tab" draggable="true" tabindex="0" ><a class="action-label"  style="color: rgba(231, 231, 231, 0.6);" (click)="openCity($event, 'mark')">mark</a>
              </li>
            </ul>
           </div>
           <div class="panelaction"></div>
          </div>
          <div id="terminal" class="tabcontentM">
            <h3>London</h3>
            <p>London is the capital city of England.</p>
          </div>

          <div id="debug" class="tabcontentM">
            <h3>Paris</h3>
            <p>Paris is the capital of France.</p>
          </div>

          <div id="mark" class="tabcontentM">
            <div class="modal-body">
              <div class="basicstomark">
                <h1 class="marks_header">Set marking essential</h1>
                <select name="catname"  id="task">
                  <option value="" disabled>select task name</option>
                  <option value="{{task.taskname}}" selected>{{task.taskname}}</option>
                </select>
                <select name="term" id="lesson">
                  <option value="" disabled>select lesson</option>
                  <option value="{{task.lesson}}" selected>{{task.lesson}}</option>
                </select>
                <select name="class"  id="classactive">
                  <option value="" disabled>select class</option>
                  <option value="{{task.class}" selected>{{task.class}}</option>
                </select>
                <select name="term" id="term">
                  <option value="term1">term1</option>
                  <option value="term2">term2</option>
                  <option value="term3">term3</option>
                </select>
                <input type="number" [(ngModel)]="marks.higscore" name="highscore" placeholder="marks cat in on">
                <div class="guidelines" id="results">
                </div>
              </div>
              <div class="student_info">
                <h1 class="marks_header">Set who you marked</h1>
                <select name="user" id="username"  [(ngModel)]="markform.student_id">
                  <option value=""  disabled>select student</option>
                  <option *ngFor="let student of students; let i = index" [value]="student[i].id">
                    {{student[i].username}}
                  </option>

                </select>
                <input type="number" id="marks" placeholder="enter marks"  name="score"  [(ngModel)]="marks.score">
                <textarea id="comments" class="comment_section" placeholder="give feedback to students"></textarea>
                <div style="margin-top: 20px;">
                <button mat-raised-button type="button"s style="margin-right: 50px;">cancel</button>
                <button mat-raised-button color="primary" type="submit" (click)="markstudent()">save</button>
              </div>
              </div>

            </div>
          </div>
        </div>
    </as-split-area>
    <as-split-area size="100" [visible]="play">
      <div class="directory_header">
        <button class="runbutton " style="background: rgb(60,60,60);" (click)="play=false"><mat-icon>code</mat-icon></button>

    </div>
    <div class="codediveditor">
    </div>
  </as-split-area>
      </as-split>
      </as-split-area>
    </as-split>
  </div>

</div>
<app-footer-menu></app-footer-menu>
<div class="common-footer aero">

</div>

