<div class="directory_header">
    <img style="width: 30px;height:30px;margin-left:20px;margin-top:5px"
        src="../../../../../assets/others/tasklist.png" alt="">
    <span style="position: absolute;top:10px;left:40%;font-size:14px;font-weight:600">prepare task or save
        for future set</span>
  </div>
  <div class="directory_show">
    <div class="side_bar_left_with_img">
      <div class="header">
      <h4>short instruction</h4>
      <mat-divider></mat-divider>
      <ul>
        <li>todo every thing</li>
        <li>todo every thing</li>
        <li>todo every thing</li>
      </ul>
      </div>
      <div class="content_header">
        <button mat-raised-button (click)="showQuestion()"><mat-icon>content_copy</mat-icon><span>  content</span></button>
      </div>
    </div>
    <div class="profile_content_right">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Upload <i>new equations db</i> Task</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
         <div class="insideuploader">
            <div class="intro" *ngIf="!ischanged">
                <h4>No recents</h4>
                <p>Drag &amp; Drop to upload or click on button to upload</p>
                <input type="file" #files name="files[]" webkitdirectory (change)="uploadfolder($event);ischanged=true" [hidden]='true'>
                <button mat-raised-button (click)="files.click()"><mat-icon>cloud_upload</mat-icon><span>  choose</span></button>
            </div>
            <div class="uploaded file" *ngIf="ischanged">
              <button mat-raised-button style="margin-left: 40%; margin-bottom: 10px;background:rgb(23, 202, 38);color: white;" (click)="files.click()"><mat-icon>cloud_upload</mat-icon><span>  upload</span></button>
              <ul id="pathlist" >
                <li *ngFor="let item of selectedpath" >
                  <div class="div-overay"
                  role="progressbar"
                  attr.aria-valuenow="{{ item.value }}"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  [ngStyle]="{ width: item.value + '%' }"
                  >
                   </div>
                  <div class="fileuploaded">
                    <div class="log-file">{{item.name | extension}}</div>
                    <div class="file_content">
                     <span>{{item.name}}</span> <br>
                    <span>12.mb</span>
                    </div>
                    <div class="progress">{{ item.value }}%</div>
                  </div>
                </li>
              </ul>
            </div>

         </div>
        </mat-card-content>
      </mat-card>
    </div>

</div>
