// *{
//   margin: 0;
//   padding: 0;
//   border: 0;
//   font-size: 100%;
//   font: inherit;
//   vertical-align: baseline;
// }

.directory_header {
    position: sticky;
    top: 0px;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    z-index: 200;
    box-shadow: 1px 2px 3px #dde;
    background-color: rgb(255, 255, 255);
  }
  .directory_show{
    display:flex;
  .side_bar_left_with_img {
    position: relative;
    width: 30%;
    height: calc(100%);
    background:rgb(255, 255, 255);
    .header{
      max-height:calc(100% - 55px);
      h4{
        text-align: center;
        font-size:18px;
        margin-top:10px;
        margin-bottom: 5px;
        color: rgb(209, 212, 212)
      }
     ol,ul{
       margin-left: 10px;
     }

    }
    .content_header{
      position:absolute;
      width:100%;
      bottom: 50px;
      text-align:center;
    }

  }
  .profile_content_right{
    flex:1;
    height: calc(100%);
    overflow-y: auto;
    .example-card{
      margin:2%;
      height: auto;
      .insideuploader{
        position:relative;
        width:100%;
        min-height:200px;
        height: auto;
        margin-top:20px;
        padding-bottom: 20px;
        margin-bottom:10px;
        background: #17ca2648;
        background-image: url(../../../../../assets/others/texture.png);
        padding-top:10%;
        box-shadow:inset 0px 0px 3px #17ca2691;
        .intro{
          font-size: 14px;
          line-height: 23px;
          text-align: center;
          width: 100%;
          max-width: 220px;
          position: absolute;
          margin:0 auto;
          left:35%;
          h4{
            margin-bottom: 8px;
            color: var(--grey-dark);
            font-family: inherit;
            font-weight: 500;
            font-size: 20px;
          }
          button{
            background:rgb(23, 202, 38);
            color:white;
          }
        }
        .uploaded{
          width: 100%;
          ul{
            list-style-type: none;
            li{
              width: 90%;
              position: relative;
              height: 40px;
              background: rgb(255, 255, 255);
              margin-top: 3px;
              margin: 2px 5%;
              border-radius: 5px;
              &:hover{
                box-shadow: 1px 5px 22px rgb(39, 168, 78);
                cursor: pointer;
              }
              .div-overay{
                position: absolute;
                height: 100%;
                background: rgba(131, 255, 152, 0.219);
              }
              .fileuploaded{
                width: 100%;
                height: 40px;
                position: relative;
                display: flex;
                .log-file{
                  width: 40px;
                  height: 40px;
                  text-align: center;
                  vertical-align: middle;
                  line-height: 40px;
                  font-size:16px;
                  font-weight: 600;
                  color: rgb(165, 165, 165);

                }
                .file_content{
                  flex:1;
                  padding-left: 10px;
                  font-size: 11px;
                  color: rgba(175, 175, 175, 0.822);
                  padding-top: 5px;

                }
                .progress{
                  width: 40px;
                  height: 40px;
                  text-align: center;
                  vertical-align: middle;
                  line-height: 40px;
                  color: rgb(165, 165, 165);
                }
              }

            }
          }
        }
      }
    }

  }

  }
