<div class="directory_header">
  <img style="width: 30px;height:30px;margin-left:20px;margin-top:5px"
      src="images/explorer/icons8_report_card_100px.png" alt="">
  <span style="position: absolute;top:10px;left:50%;font-size:14px;font-weight:600">Term 1</span>
</div>
<div class="directory_show">
  <table>
      <thead>
          <tr>
              <th>Marks</th>
              <th>Lesson</th>
              <th>Test</th>
              <th>Term</th>
              <th>Class</th>
              <th>comments</th>
          </tr>
        </thead>
          <tbody></tbody>
  </table>
</div>
