<mat-tab-group  mat-align-tabs="center">
    <mat-tab label="questions">
      <div class="example-small-box">
        <quill-editor [(ngModel)]="taskreviewcontent.questions" name="long_desc" [styles]="{height: '100%'}"></quill-editor>
      </div>
    </mat-tab>
    <mat-tab label="Answers">
      <div class="example-small-box">
        <quill-editor [(ngModel)]="taskreviewcontent.answers" name="long_desc" [styles]="{height: '100%'}"></quill-editor>
      </div>
    </mat-tab>
    <mat-tab label="feedback">
      <div class="example-small-box">
        Large content
      </div>
      
    </mat-tab>
    
  </mat-tab-group>