<div class="directory_header">
  <img style="width: 30px;height:30px;margin-left:20px;margin-top:5px"
      src="../../../../../assets/others/term.png" alt="">
  <span style="position: absolute;top:10px;left:50%;font-size:14px;font-weight:600">Term 2</span>
</div>

<div class="commmoncontainer">
   <div class="recentupload">
     <span class="title" style="margin-left:0%;">task in this week</span>
     <div class="assinment_div">
     <div class="filecontainer" *ngFor="let task of taskInThisWeek" (contextmenu)="onContextMenu($event,task)">
      <div class="file-image">
        <div class='image'>
          <span>{{task.lesson}}</span>
        </div>
      </div>
      <div class="file-semidetails">
            <span class="foldername">{{task.taskname}}</span>
            <span>{{task.remainingdate}}</span>
            <span style="margin-left:10px">{{task.submittiondate | date:"dd MMMM, yyyy 'at' HH:mm"}}</span>
            <button mat-icon-button (click)="onContextMenu($event,task)" >
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
    </div>
  </div>
   </div>
   <div class="recentmarked">
 <div class="upperflowdiv">
  <span class="title">unsubmitted tasks</span>
  <div class="inside_flows">
    <div class="filecontainer" *ngFor="let task1 of tasklatesubmits" (contextmenu)="onContextMenu($event,task1)">
      <div class="file-image">
        <div class='image'>
          <span>{{task1.lesson}}</span>
        </div>
      </div>
      <div class="file-semidetails">
            <span class="foldername">{{task1.taskname}}</span>
            <span>{{task1.remainingdate}}</span>
            <span style="margin-left:10px">{{task1.submittiondate | date:"dd MMMM, yyyy 'at' HH:mm"}}</span>
            <button mat-icon-button (click)="onContextMenu($event,task1)" >
              <mat-icon>more_vert</mat-icon>
            </button>
          </div>
    </div>
</div>
 </div>
 <div class="lowflowdiv" *ngIf="taskInotherweek.length>0">
  <span class="title">task in other week</span>
<div class="inside_flows">
  <div class="filecontainer" *ngFor="let task3 of taskInotherweek" (contextmenu)="onContextMenu($event,task3)">
    <div class="file-image">
      <div class='image'>
        <span>{{task3.lesson}}</span>
      </div>
    </div>
    <div class="file-semidetails">
          <span class="foldername">{{task3.taskname}}</span>
          <span>{{task3.remainingdate}}</span>
          <span style="margin-left:10px">{{task3.submittiondate | date:"dd MMMM, yyyy 'at' HH:mm"}}</span>
          <button mat-icon-button (click)="onContextMenu($event,task3)" >
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
  </div>
</div>
 </div>

   </div>
   <context-menu>
    <ng-template contextMenuItem >
      <mat-icon>cloud_download</mat-icon>
      download
    </ng-template>

    <ng-template contextMenuItem (execute)="setRemainder($event.item.taskid)">
      <mat-icon>date_range</mat-icon>
      set reminder
    </ng-template>
    <ng-template contextMenuItem (execute)="routesubmitt($event.item.taskid)">
      <mat-icon>assignment_sent</mat-icon>
      submitt
    </ng-template>
    <ng-template contextMenuItem (execute)="showQuestion($event.item.taskid)">
      <mat-icon>note</mat-icon>
      show content
    </ng-template>
  </context-menu>
</div>
