<div class="container">
  <app-auth-heather></app-auth-heather>
<div class="upercontainer">
</div>
<div class="float_in_front">
   <div class="loginbox animated-500 fadeInDown aero">
     <div class="title">
        <div class="logo"> <img src="../../assets/others/logo.png" alt=""><span style="cursor: pointer;" routerLink="/home">Rcode</span></div>
        <div class='info'>thank you to use Rcode</div>
     </div>
     <form #newPasswordForm=ngForm (ngSubmit)="onsubmit()" >
     <div class="form">

              <div class="formmain">
                 <input type="text" name="email" id="email_log" placeholder="your email pl*" [(ngModel)]="Form.email" required>
                 <input type="password" name="password" id="password_log" placeholder="Password" [(ngModel)]="Form.password" required>
                 <input type="password" name="password_confirmation" id="password_confirm" placeholder="confirm password" [(ngModel)]="Form.password" required>
                </div>


           <div class="actions">
              <button class="button b2" type="submit" [disabled]="!newPasswordForm.valid">reset password</button>
           </div>
           <div class="gologin"><a nohref >have no account <i routerLink="/register">register</i></a></div>
     </div>
  </form>
   </div>
</div>
<div class="lowercontainer"></div>
</div>

