<div class="edit_task_div animated" id="task_edit">
  <div class="sett_header">
    <h1 class="setting_help_title">add challenge </h1>
    <span class="close-btn" (click)="onNoClick()" id="closebtn"><img width="20px" height="20px"
        src="../../../../../../assets/others/close.png" alt=""></span>
  </div>
  <div class="content_task_edit">
    <mat-form-field appearance="fill" style="width: 100%;">
      <mat-label>enter your challenge discription</mat-label>
      <textarea style="height:auto;max-height: 100px;" matInput name="short_desc"></textarea>
    </mat-form-field>
    <div class="codeforchallenge">
      <div class="directory_header">
        <button mat-mini-fab color="primary" class="mat-button-editor" [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"(click)="menuTrigger.openMenu()">
          <mat-icon>settings</mat-icon>
        </button>
        <select class="md-select" aria-labelledby="searchExplanation">
          <option>select language</option>
          <option>javascript</option>
          <option>php</option>
          <option>html/css</option>
          <option>java</option>
        </select>
        <mat-menu #menu="matMenu" [overlapTrigger]="false">
          <div >
           <a nohref>
             <i class="fa fa-download" style="font-size: 16px;margin-right:10px"></i>
             Downloads</a>
           
           <a nohref mat-menu-item>
             <mat-icon aria-hidden="true">format_color_fill</mat-icon>
             white theme
     
           </a>
           <mat-divider></mat-divider>
           <a nohref mat-menu-item >
            <mat-icon>live_help</mat-icon>
             Help</a>
           <a nohref mat-menu-item >
      <mat-icon>contact_mail</mat-icon>     
        about</a>
        <mat-divider></mat-divider>
         
           <a noref mat-menu-item >
             <mat-icon>exit_to_app</mat-icon>
             Log out</a>
           </div>
         </mat-menu>
      </div>
      <div class="codediveditor">
        <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div mat-dialog-actions>

      <button mat-button (click)="onNoClick()" color="warn">
        <mat-icon>cancel</mat-icon> cancel
      </button>
      <button mat-button cdkFocusInitial color="primary">
        <mat-icon>person</mat-icon> save
      </button>
    </div>
  </div>
</div>
