.directory_header{
    position: sticky;
    top: 0px;
    width: 100%;
    height:40px;
    border-radius: 3px;
    z-index: 200;
    box-shadow: 1px 2px 3px rgb(0, 0, 0);
    background-color: rgb(30,30, 30);
    .mat-button-editor{
        width: 35px;
        height:35px;
        margin-left:10px;
        margin-top: 2.5px;
        mat-icon{
            position: absolute;
            margin: 0 auto;
            width:19px;
            height:19px;
            font-size:19px;
            top: 8px;
            left: 9px;
            
        }
    }
  }
.edit_task_div{
    position:relative;
    width: 100%;
    height: 500px;
  }
.sett_header{
    position: absolute;
    top:-24px;
    left:-24px;
    width: calc(100% + 48px);
    height: 30px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    }
    .sett_header .close-btn {
     font-weight: 900;
     width: 30px;
     height: 27px;
     top: 1px;
     right: 4px;
     position: absolute;
     z-index: 2;
   }
   
   .sett_header .close-btn img {
     margin: 4px;
   }
   .setting_help_title{
    top: 6px;
    font-size: 14px;
    position: absolute;
    left: 45%;
    color:white;
  }
  .sett_header{
    background: rgb(51, 103, 214);
   }
   .sett_header .close-btn {
    color: #ccc;
    background: transparent;
   }
   .sett_header  .close-btn:hover {
    background: rgb(231, 8, 8);
    color: white;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(37, 37, 37, 0.336);
  }
  .content_task_edit{
    position: absolute;
    top:10px;
    width: 100%;
    height: calc(100% - 14px);   
    .codeforchallenge{
        width: 100%;
        .codediveditor{
            position: relative;
            width: 100%;
            height:300px;
            background:rgb(30,30,30)
        }
    }
  }
  .md-select{
  --md-arrow-width: 10px;
  --md-select-bg-color: rgb(10, 10, 10);
  --md-select-focus-shadow-color: rgba(var(--google-blue-600-rgb), .4);
  --md-select-option-bg-color: white;
  --md-select-side-padding: 8px;
  --md-select-text-color: rgb(230, 230, 230);
  -webkit-appearance: none;
  background: url(../../../../../../assets/others/arrow_down.svg) calc(100% - var(--md-select-side-padding)) center no-repeat;
  background-color: var(--md-select-bg-color);
  background-size: var(--md-arrow-width);
  border: none;
  border-radius: 4px;
  color: var(--md-select-text-color);
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  max-width: 100%;
  float:right;
  outline: none;
  padding-bottom: 6px;
  padding-inline-end: calc(var(--md-select-side-padding) + var(--md-arrow-width) + 3px);
  padding-inline-start: var(--md-select-side-padding);
  padding-top: 6px;
  margin-top:7px;
  margin-right: 4%;
  width: var(--md-select-width, 200px);
  }