<div style="position:relative">
<div class="download-button">
  <button mat-mini-fab color="primary"><mat-icon>file_download</mat-icon></button>
</div>
<mat-tab-group  mat-align-tabs="center">
    <mat-tab label="questions">
      <div class="example-small-box">
        <quill-editor [(ngModel)]="taskreviewcontent.questions" name="long_desc" [styles]="{height: '100%'}"></quill-editor>
      </div>
    </mat-tab>
    <mat-tab label="issues">
      <div class="example-small-box-dialog">
        <div class="messages">
          <div class="chat-content"  [class.actions-visible]="talks" perfectScrollbar>
              <div *ngIf="!talks" fxLayout="column" fxLayoutAlign="center center" class="h-100 empty">
                  <mat-icon>chat</mat-icon>            
                  <p>no issue with this task yet</p>
              </div> 
              <app-issues *ngIf="talks"[talks]="talks">  
              </app-issues>
            </div>
          <mat-divider></mat-divider>
          <div *ngIf="talks" class="chat-actions"> 
              <div fxLayout="row" fxLayoutAlign="space-between center" class="write_message">
                <img class="writecommentimage" src="../../../../../assets/tuy.png">
                  <mat-form-field class="w-100" style="width:60%">
                      <input matInput placeholder="Enter your issue or comment" (keyup)="sendMessage($event)" [(ngModel)]="newMessage">
                  </mat-form-field>
                  <div fxLayout="row" fxLayoutAlign="center center">
                    
                      <button mat-mini-fab color="primary" type="button" (click)="sendMessage($event)">
                          <mat-icon>send</mat-icon>
                      </button>
                  </div>
                  </div>
         </div>
      </div>
      </div>
      
    </mat-tab>
    
  </mat-tab-group>
</div>