<div class="projectlister">
  <div class="projectTitle">
    <button mat-raised-button  color="accent"
    aria-label="Example icon button with a plus one icon">
    <mat-icon>add</mat-icon>
    <span>Add file</span>
  </button>
  <mat-form-field class="example-full-width">
    <mat-label>Filter student</mat-label>
    <input matInput  placeholder="enter name">
  </mat-form-field>
  </div>
  <div class="float-pro">
    <div class='sort_arrengement'>
      <div class="filters">
        <span class="header_sort">filter</span>
        <ul>
          <li><mat-icon>menu</mat-icon><span> all</span></li>
          <li><mat-icon>menu</mat-icon><span>first list</span></li>
          <li><mat-icon>menu</mat-icon><span>first list</span></li>

        </ul>
      </div>
      <div class="label">
        <span class="header_sort">labeled</span>
        <ul>
          <li><mat-icon>menu</mat-icon><span>first list</span></li>
          <li><mat-icon>menu</mat-icon><span>first list</span></li>
          <li><mat-icon>menu</mat-icon><span>first list</span></li>
          <li><mat-icon>menu</mat-icon><span>first list</span></li>

        </ul>
      </div>
      </div>
  </div>
  </div>
<div class="directory_marks">

</div>
