<div style="position:relative">
<div class="download-button">
  <button mat-mini-fab color="primary"><mat-icon>cloud_download</mat-icon></button>
</div>
<mat-tab-group  mat-align-tabs="center">
    <mat-tab label="questions">
      <div class="example-small-box">
        <quill-editor [(ngModel)]="taskreviewcontent.questions" name="long_desc" [styles]="{height: '100%'}"></quill-editor>
      </div>
    </mat-tab>
    <mat-tab label="unconvinient">
      <div class="example-small-box">
        Large content
      </div>
      
    </mat-tab>
    
  </mat-tab-group>
</div>