.example-small-box, .example-large-box {
    width: 100%;
    height: calc(73vh);
    overflow-y: auto;
    
  }
  .download-button{
    position: absolute;
    width: 20%;
    height:47px;
    right: 0px;
  }