<div class="header_nav">
  <div class="titlebardrag"></div>
  <div class="logo_img">
    <a href="../welcome"><img class="logo" src="../../../assets/others/logo.png" alt=""></a>
    <span class="logoname">Rcode</span>
  </div>
  <div class="dive_into_location">
    <a nohref (click)="gohome('/profile')" class="dashboard">
      <mat-icon>dashboard</mat-icon><span>Dashboard</span>
    </a>
    <a nohref (click)="gohome('/editor')" class="editor">
      <mat-icon>code</mat-icon><span>Editor</span>
    </a>
    <a nohref (click)="gohome('/marktask')" class="mark">
      <mat-icon>check</mat-icon> <span>Mark</span>
    </a>
  </div>

  <div class="notification">
    <ul>

      <li [matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"(click)="menuTrigger.openMenu()"><img class="btngogo" id="header_profile_picture"
          style=" display:inline-block;width: 30px;height: 30px;background: lightgray; border:2px solid white; border-radius: 50%;"
          src="../../../assets/profile_picture/11594486894.png" alt="">

      </li>
      <li (click)="minimizewindow()"><img src="../../../assets/others/minimize.png" alt=""></li>
      <li (click)="maximizewindow()" id="maximize"><img src="../../../assets/others/maximize_button.png" alt=""></li>
      <li (click)="restorewindow()" id="restore"><img src="../../../assets/others/restore_down.png" alt=""></li>
      <li (click)="closewindow()"><img src="../../../assets/others/close.png" alt=""></li>

    </ul>
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
     <div >
      <div class="user_menu_image">
        <div class="header_show_main">
          <div class="image_container">
            <img id="dropdown_iimage" [src]="data.profile_image" alt="">
          </div>
          <span>{{data.email}}</span>
        </div>

      </div>
      <mat-divider></mat-divider>
      <a nohref>
        <i class="fa fa-download" style="font-size: 16px;margin-right:10px"></i>
        Downloads</a>
      <a nohref mat-menu-item [matMenuTriggerFor]="fish">
        <i class="fa fa-plus" style="font-size: 16px;margin-right:10px"></i>
        set your status</a>
        <mat-menu #fish="matMenu">
          <button mat-menu-item>{{data.user_id}}</button>
          <button mat-menu-item>{{data.firstname}}</button>
          <button mat-menu-item>{{data.lastname}}</button>
          <button mat-menu-item>{{data.email}}</button>
          <button mat-menu-item>{{data.username}}</button>
        </mat-menu>
        <mat-divider></mat-divider>
      <a nohref mat-menu-item>
        <mat-icon aria-hidden="true">format_color_fill</mat-icon>
        white theme

      </a>
      <mat-divider></mat-divider>
      <a nohref mat-menu-item >
       <mat-icon>live_help</mat-icon>
        Help</a>
      <a nohref mat-menu-item >
 <mat-icon>contact_mail</mat-icon>     
   about</a>
   <mat-divider></mat-divider>
    
      <a noref mat-menu-item >
        <mat-icon>exit_to_app</mat-icon>
        Log out</a>
      </div>
    </mat-menu>
  </div>
</div>
