
  <div class="container">
    <div>
      <as-split class="split-example ex-percent" unit="percent" [direction]="direction" (dragEnd)="dragEnd($event)">
        <as-split-area size="55">
            <div class="directory_header">
                <button mat-mini-fab color="primary" class="mat-button-editor" style="margin: 2px 10px 0 10px;"><mat-icon>save</mat-icon></button>
                <button mat-mini-fab color="primary" class="mat-button-editor"[matMenuTriggerFor]="menu" #menuTrigger="matMenuTrigger"(click)="menuTrigger.openMenu()" ><mat-icon>settings</mat-icon></button>
                <mat-menu #menu="matMenu" [overlapTrigger]="false">
                  <div >
                   <a nohref>
                     <i class="fa fa-download" style="font-size: 16px;margin-right:10px"></i>
                     Downloads</a>
                   
                   <a nohref mat-menu-item>
                     <mat-icon aria-hidden="true">format_color_fill</mat-icon>
                     white theme
             
                   </a>
                   <mat-divider></mat-divider>
                   <a nohref mat-menu-item >
                    <mat-icon>live_help</mat-icon>
                     Help</a>
                   <a nohref mat-menu-item >
              <mat-icon>contact_mail</mat-icon>     
                about</a>
                <mat-divider></mat-divider>
                 
                   <a noref mat-menu-item >
                     <mat-icon>exit_to_app</mat-icon>
                     Log out</a>
                   </div>
                 </mat-menu>

                <button class="runbutton" ><mat-icon>play_arrow</mat-icon></button>
            </div>
            <div class="codediveditor">
              <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
            </div>
        </as-split-area>
        <as-split-area size="45">
          <div class="directory_header">
          </div>
        </as-split-area>
      </as-split>
    </div>
  </div>

  