<div class="projectlister">
  <div class="projectTitle">
    <button mat-raised-button color="accent" aria-label="Example icon button with a plus one icon"
      (click)="addnewFolder()">
      <mat-icon>create_new_folder</mat-icon>
      <span> Add file</span>
    </button>

  </div>
  <div class="float-pro">
    <div class='sort_arrengement'>
      <div class="filters">
        <span class="header_sort">Tasks</span>
        <ul>
          <li>
            <mat-icon>menu</mat-icon><span> all</span>
          </li>
          <li>
            <mat-icon>folder_open</mat-icon><span>This week</span>
          </li>
          <li>
            <mat-icon>folder_special</mat-icon><span>Other weeK</span>
          </li>
          <li>
            <mat-icon>recent_actors</mat-icon><span>unsubmitted</span>
          </li>
        </ul>
      </div>
      <div class="label">
        <span class="header_sort">Uploaded task</span>
        <ul>
          <li>
            <mat-icon>star</mat-icon><span>favorite</span>
          </li>
          <li>
            <mat-icon>drafts</mat-icon><span>answer files</span>
          </li>
          <li>
            <mat-icon>folder_shared</mat-icon><span>shared files</span>
          </li>
          <li>
            <mat-icon>archive</mat-icon><span>ziped files</span>
          </li>

        </ul>
      </div>
    </div>
  </div>
</div>
<div class="directory_marks">
  <div class="directory_header" style="height: 40px">
    <div class="search-container">
      <mat-icon>search</mat-icon>
      <input type="search" placeholder="search files">
    </div>
    <div class="header_symbols">
      <button mat-icon-button>
        <mat-icon>cloud_upload</mat-icon>
      </button>
      <button mat-icon-button (click)="addnewFolder()">
        <mat-icon>create_new_folder</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>share</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>delete</mat-icon>
      </button>

    </div>
  </div>
  <div class="tasks">
    <div class="commmoncontainer">
      <div class="recentupload">
        <p class="title" style="margin-left:0%;">task in this week</p>
        <div class="assinment_div">
        <div class="filecontainer" *ngFor="let task of taskInThisWeek | async" (contextmenu)="onContextMenu($event,task)">
         <div class="file-image">
           <div class='image'>
             <span>{{task.lesson | short:3}}</span>
           </div>
         </div>
         <div class="file-semidetails">
               <span class="foldername">{{task.taskname}}</span>
               <span><app-time-display [time]="task.givenat"></app-time-display> </span>
               <span style="margin-left:10px">{{task.endat | date:"MM/dd/yy'at' HH:mm"}}</span>
               <button mat-icon-button (click)="onContextMenu($event,task)" >
                 <mat-icon>more_vert</mat-icon>
               </button>
             </div>
       </div>
     </div>
      </div>
      </div>
  </div>
  <div>
  <app-explorer [fileElements]="fileElements" [path]="currentPath"
    [canNavigateUp]="canNavigateUp"
    (folderAdded)="addFolder($event)"
    (elementRemoved)="removeElement($event)"
    (gohome)="gethome()"
    (navigatedDown)="navigateToFolder($event)"
    (navigateFromNav)="navigateFromNav($event)"
    (navigatedUp)="navigateUp()"
    (elementRenamed)="renameElement($event)"
    (elementMoved)="moveElement($event)"></app-explorer>
  </div>

</div>
