
<div class="directory_header">
  <div class="sort-header-inheader"  [@openClose]="!isOpen ? 'open' : 'closed'">
    <div class="closefilter" (click)="toggle()"><mat-icon>tune</mat-icon></div>
  </div>
  <div class="cancledsidebar" [@openClose]="isOpen ? 'open' : 'closed'">
  <div class="closefilters" (click)="toggle()"><mat-icon>tune</mat-icon></div>
  </div>
  <button mat-mini-fab color="primary" matTooltip="add task" [routerLink]="'newtask'" [@openClose]="addOpen ? 'open' : 'closed'"><mat-icon>add</mat-icon></button>
  <div class="titleinheader"><span>prepare task or save for future set</span></div>

</div>
  <div class="directory_show">
      <div class="side_bar_left_with_img" [@openClose]="!isOpen ? 'open' : 'closed'">
        <div class="profile_in_title" >
          <button mat-raised-button [routerLink]="'newtask'" (click)="!isOpen?isOpen = !isOpen:isOpen;addOpen?addOpen = !addOpen:addOpen" color="primary" aria-label="Example icon button with a plus one icon">
            <mat-icon>add_task</mat-icon>
            <span> Add Task</span>
          </button>
      </div>
      <mat-form-field class="example-full-width">
        <mat-label>Filter tasks</mat-label>
        <input matInput (keyup)="firstComponentFunction($event.target.value)" value="" placeholder="enter key word">
      </mat-form-field>
      <div class='sort_arrengement'>
        <div class="filters">
          <span class="header_sort">filter</span>
          <ul>
            <li><mat-icon>menu</mat-icon><span> all</span></li>
            <li><mat-icon>menu</mat-icon><span>this week</span></li>
            <li><mat-icon>menu</mat-icon><span>last weeks</span></li>

          </ul>
        </div>
        <div class="label">
          <span class="header_sort">labeled</span>
          <ul>
            <li><mat-icon>menu</mat-icon><span>unmarked</span></li>
            <li><mat-icon>menu</mat-icon><span>best performed</span></li>
            <li><mat-icon>menu</mat-icon><span>less performed</span></li>
            <li><mat-icon>menu</mat-icon><span>many undone</span></li>

          </ul>
        </div>
        </div>
      </div>
      <div class="profile_content_right">
        <router-outlet></router-outlet>
      </div>
    </div>
