mwlResizable {
    box-sizing: border-box;
  }
  .content {
    position: absolute;
    display:flex;
    width: 100%;
    height: calc(100% - 35px);
  }
     .rectangle{
      position:relative;
      height: calc(100%);
      background: rgb(218, 21, 21);
     }
    .rectangle2 {
      position:relative;
      height: calc(100%);
      background: rgb(218, 21, 21);
    }
    .rectangle3 {
      height: calc(100%);
      background: rgb(176, 216, 29);
    }
    .resize-handle-right {
      position: absolute;
      height: 100%;
      top:0px;
      right:0px;
      cursor: col-resize;
      width: 5px;
      background: #dde
    }
