
  <div class="directory_header" style="height: 40px">
    <div class="sort-header-inheader"  [@openClose]="!isOpen ? 'open' : 'closed'">
        <div class="closefilter" (click)="toggle()"><mat-icon>menu</mat-icon></div>
      </div>
      <div class="cancledsidebar" [@openClose]="isOpen ? 'open' : 'closed'">
        <div class="closefilters" (click)="toggle()"><mat-icon>menu</mat-icon></div>
        </div>
      <div style="display:inline-block;margin-left:40%"><span
              style="position: absolute;top:10px;font-size:14px;font-weight:600">Your profile</span></div>
  </div>
  <div class="directory_show">
    <div class="side_bar_left_with_img"[@openClose]="!isOpen ? 'open' : 'closed'">
      
    </div>
    <div class="profile_content_right">
      <mat-card class="example-card">
        <mat-card-header>
          <img  mat-card-avatar src="../../../../../assets/profile_picture/31592671453.png" alt="Photo of a Shiba Inu">
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias ipsum magnam, numquam quos beatae amet nostrum ad quod laudantium cum nesciunt fugit sequi, doloremque facere ab aperiam quidem libero saepe!</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <ngx-monaco-editor class="inlineeditor" [options]="editorOptions" [(ngModel)]="code"></ngx-monaco-editor>
        </mat-card-content>
        <mat-card-actions>
          <button mat-icon-button><mat-icon>favorite</mat-icon></button>
          <button mat-icon-button><mat-icon>share</mat-icon></button>
          <div class="floatright">
            <button mat-raised-button (click)="openanswerboard()">answer</button>
          </div>
        </mat-card-actions>
      </mat-card>

  </div>
</div>
