<div class="directory_header" style="height: 40px">
  <div class="directory_header" style="height: 40px">
      <div class="sort_challenge"><button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>more_vert</mat-icon>
      </button><span
              class="span_img">Filter</span></div>
      <div style="display:inline-block;margin-left:40%"><span
              style="position: absolute;top:10px;font-size:14px;font-weight:600">Assignment</span></div>
      <img style="position:absolute;right:10px; width: 30px; height: 30px;margin-top:5px "
          src="../../../../../assets/others/icon.png" alt="">
  </div>
</div>
<div class="directory_show">
  <div id="assignents" class="challenge">
    <div class="assignment_div">
      <div class="img_assign img_challenge">

      </div>
      <div class="footer_assign">
          <div class="mini_img_div">
              <img class="mini_img" src="../../../../../assets/profile_picture/31592671453.png" alt="">
          </div>
          <div class="subtmisiondetails">
            <span>this work was:<b>submitted</b></span><br>
            <span>you got:<b>45/100 </b></span>
          </div>

      </div>
  </div>

  </div>


  <div class="preview_assignment" id="assignment_show">
      <div class="preview_assignment_header assignment_fullscreen">
          <div class="sort_challenge" onclick="hide('assignment_show')" style="margin-top: -1px"><img
                  src="../../../../../assets/others/icon.png" alt=""></div>
          <div style="display:inline-block;margin-left:40%"><span
                  style="position: absolute;top:10px;font-size:14px;font-weight:600" id="title_name">Php
                  assignment</span>
          </div>
          <img onclick="PrintElem('assignment_info')"
              style="position:absolute;right:180px; width: 30px; height: 30px;margin-top:3px "
              src="../../../../../assets/others/icon.png" alt="">
          <img onclick="PrintElem('assignment_info')"
              style="position:absolute;right:80px; width: 30px; height: 30px;margin-top:3px "
              src="../../../../../assets/others/icon.png" alt="">
          <img style="position:absolute;right:130px; width: 30px; height: 30px;margin-top:3px "
              src="../../../../../assets/others/icon.png" alt="">
          <img class="edit_img" onclick="makefullScreen('assignment_show')" id="fullscreens"
              src="../../../../../assets/others/icon.png" alt="">
          <img class="edit_img" onclick="exitfullScreen('assignment_show')" style="display: none;"
              id="normalcreens" src="../../../../../assets/others/icon.png" alt="">
      </div>
      <div class="show_assignment_info" id="assignment_info"></div>

  </div>

</div>
