body {
    background: #f6f6f6;
    font-size: 13px;
    padding: 0px;
    margin: 0px;
    color: #666;
    font-family: sans-serif;
 }

 body,
 input,
 textarea {
    -webkit-font-smoothing: antialiased;

 }

 input,
 button {
    font-family:  sans-serif;
 }

 section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  width: 490px;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
.blackMask {
  position: fixed;
  display: table;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgb(51, 103, 214);
  background-image: linear-gradient(rgb(51, 103, 214), rgb(51, 103, 214));
  text-align: center;
  z-index: 99990
}

.blackMask .popupVCenter {
  position: absolute;
  top: 30%;
  left: 40%;
  vertical-align: middle;
  text-align: center
}

.popupVCenter .popup {
  position: relative;
  z-index: 0;
  width: 200px;
  height: 200px;
  transform: rotate(-45deg);
  border-radius: 10px;
  overflow: hidden;
  padding: 2rem;
}

.popupVCenter .popup::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  background-image: linear-gradient(#ffffff, #ffffff), linear-gradient(#fbb300, #fbb300), linear-gradient(#ffffff, #ffffff), linear-gradient(#377af5, #377af5);
  animation: rotate 4s linear infinite;
  box-shadow: 1px 1px 8px #dde;
}

.popupVCenter .popup::after {
  content: '';
  position: absolute;
  z-index: -1;
  left: 6px;
  top: 6px;
  width: calc(100% - 12px);
  height: calc(100% - 12px);
  background: white;
  box-shadow: 0 0 3px rgba(36, 36, 36, 0.233) inset;
  border-radius: 5px;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn);
  }
}

.spinner {
  width: 160px;
  height: 160px;
  margin: 20px auto;
  background: #fff;
  box-shadow: 0px 1px 15px #dde;
  z-index: 200;
}

.spinner img {
  width:100%;
  height:100%;
  border-radius: 20px;
  z-index: 200;
}
