body {
    background: #f6f6f6;
    font-size: 13px;
    padding: 0px;
    margin: 0px;
    color: #666;
    font-family: sans-serif;
 }
 
 body,
 input,
 textarea {
    -webkit-font-smoothing: antialiased;
    
 }
 
 input,
 button {
    font-family:  sans-serif;
 }

 