<div class="directory_show">
  <div class="breadcompcontainer">
    <div class="wrapper">
      <section class="header">
        <div class="logo-and-nav-wrap">
          <div class="logo-wrap">
             <button mat-icon-button><mat-icon>keyboard_arrow_left</mat-icon></button>
            <button mat-icon-button><mat-icon>keyboard_arrow_right</mat-icon></button>
            <button mat-icon-button (click)="navigatehome()"><mat-icon>home</mat-icon></button>
          </div>
          <div class="site-nav-wrap">
            <nav class="nav">
              <div class="breadcrumb-wrap" *ngFor="let item of path" (click)="navigateFrom(item)">
                <span class="sep">
                  <mat-icon>keyboard_arrow_right</mat-icon>
                </span>
                <span class="breadcrumb"><a nohref>{{item.element.basename || 'Files'}}</a></span>
              </div>
            </nav>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="filediv">
    <div class="filefolder_container" *ngIf="fileElements">
      <div class="filecontainer" *ngFor="let element of fileElements.directories" (dblclick)="navigate(element)" (click)="rotate($event,'filecontainer',element)"
      (contextmenu)="onContextMenu($event,element)">
      <div class="file-image">
        <div class='image' style="background-image: url(../../../../../assets/others/icons8_folder_96px.png);">
        </div>
      </div>
      <div class="file-semidetails">
        <span class="foldername">{{element.basename}}</span>
        <span>1 item</span>,
        <span>last modified:{{ element.timestamp | date }}</span>
        <span></span>
        <button mat-icon-button (click)="onContextMenu($event,element)"
          aria-label="Example icon button with a vertical three dot icon">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </div>
      <div class="filecontainer"  *ngFor="let element of fileElements.files" (dblclick)="navigate(element)" (click)="rotate($event,'filecontainer',element)"
        (contextmenu)="onContextMenu($event,element)">
        <div class="file-image" >
          <div class='image' [ngStyle]="{'background-image': 'url(' + getfileicons(element.extension) + ')'}">
          </div>
        </div>
        <div class="file-semidetails">
          <span class="foldername">{{element.basename}}</span>
          <span>last modified:{{ element.timestamp | date }}</span>
          <span></span>
          <button mat-icon-button (click)="onContextMenu($event,element)"
            aria-label="Example icon button with a vertical three dot icon">
            <mat-icon>more_vert</mat-icon>
          </button>
        </div>
      </div>


    </div>
    <context-menu>
      <ng-template contextMenuItem (execute) ="navigate($event.item)">
        <mat-icon>open_in_new</mat-icon>open
      </ng-template>
      <ng-template contextMenuItem [subMenu]="createMenu">
        <mat-icon>add</mat-icon>
        create
      </ng-template>
      <context-menu #createMenu>
        <ng-template contextMenuItem (execute)="openNewFolderDialog()">
          <mat-icon>create_new_folder</mat-icon>
          new folder
        </ng-template>
        <ng-template contextMenuItem (execute)="openNewFolderDialog()">
          <mat-icon>note_add</mat-icon>
          new file
        </ng-template>

      </context-menu>
      <mat-divider></mat-divider>
      <ng-template contextMenuItem>
        <mat-icon>content_cut</mat-icon>
        cut
      </ng-template>
      <ng-template contextMenuItem>
        <mat-icon>content_copy</mat-icon>
        copy
      </ng-template>
      <ng-template contextMenuItem>
        <mat-icon>content_paste</mat-icon>
        paste
      </ng-template>
      <mat-divider></mat-divider>
      <ng-template contextMenuItem [subMenu]="moreMenu">
        <mat-icon>more_vert</mat-icon>
        more
      </ng-template>
      <context-menu #moreMenu>
        <ng-template contextMenuItem>
          <mat-icon>star</mat-icon>
          favorite
        </ng-template>
        <ng-template contextMenuItem>
          <mat-icon>share</mat-icon>
          share
        </ng-template>
        <ng-template contextMenuItem>
          <mat-icon>cloud_download</mat-icon>
          download
        </ng-template>
        <ng-template contextMenuItem>
          <mat-icon>settings</mat-icon>
          properties
        </ng-template>
      </context-menu>

      <ng-template contextMenuItem (execute)="openRenameDialog($event.item)">
        <mat-icon>edit</mat-icon>
        rename
      </ng-template>
      <ng-template contextMenuItem (execute)="deleteElement($event.item)">
        <mat-icon>delete</mat-icon>
        delete
      </ng-template>

    </context-menu>
    <div class="showdetails" [hidden]="showdetail">
      <div class="clicked_file_show"></div>
      <div class='clicked_file_detail'>
        <div class="file_1">
          <span class="file_desc_span_header">name</span>
          <span>{{discdetail.basename}}</span>
        </div>
        <div class="file_2" *ngIf="discdetail.type != 'dir'">
          <span class="file_desc_span_header">size</span>
          <span>{{discdetail.size}}</span>
        </div>
        <div class="file_3">
          <span class="file_desc_span_header">date</span>
          <span>{{discdetail.timestamp | date}}</span>
        </div>
        <div class="file_4">
          <span class="file_desc_span_header">path</span>
          <span>{{discdetail.path}}</span>
        </div>

      </div>
    </div>
  </div>
</div>
