
<div class="projectlister">
  <div class="profile_img_container">
      <div class="quote_container"  [ngStyle]="{'background-image': this.inspire.fileBackground ? 'url('+this.inspire.fileBackground+')' : 'url(../../../../assets/tuy.png)', 'background-position': 'center','background-size':'cover' }"  >
          <div class="quote_text_continer">
              <p class="my-inspiration">{{inspire.quote}}</p>
          </div>
          <div class="writers_name">
              <span><i>{{inspire.authorName}}</i></span>
          </div>
          <img *ngIf="inspire.authorImage" [src]="inspire.authorImage" class="creater_image">
          <img *ngIf="!inspire.authorImage" src="../../../../assets/others/insipier.png" class="creater_image">

      </div>
  </div>
  <div class="float-pro">
    <a [routerLink]="'pro-info'" #intialselect routerLinkActive="active"><mat-icon>account_circle</mat-icon> <span>profile</span></a>

    <a [routerLink]="'assignments'" routerLinkActive="active"><mat-icon>assignment</mat-icon> <span matLine>Quick help</span></a>
  </div>
</div>
<div class="directory_marks">
<router-outlet></router-outlet>
</div>

