
<div class="projectlister">
  <div class="profile_img_container">
      <div class="quote_container" style="background:url(../../../../assets/tuy.png);background-size:cover" >
          <div class="quote_text_continer">
              <p class="my-inspiration"> Imagination is better than knowledge</p>
          </div>
          <div class="writers_name">
              <span><i>Albert Einstein </i></span>
          </div>
          <img src="../../../../assets/others/insipier.png" class="creater_image">

      </div>
  </div>
  <div class="float-pro">
    <a [routerLink]="'pro-info'" #intialselect routerLinkActive="active"><mat-icon>account_circle</mat-icon> <span>profile</span></a>

    <a [routerLink]="'assignments'" routerLinkActive="active"><mat-icon>assignment</mat-icon> <span matLine>Quick help</span></a>
  </div>
</div>
<div class="directory_marks">
<router-outlet></router-outlet>
</div>

