
<div class="projectlister">
  <div class="profile_img_container">
      <div class="quote_container" >
          <div class="quote_text_continer" style="background:url(../../../../assets/background.jpg);background-size:cover">
              <p class="my-inspiration"><q>
                      Imagination in better than knowledge</q> </p>
          </div>
          <div class="writers_name">
              <span><i>Albert Einstein </i></span>
          </div>
          <img src="../../../../assets/others/insipier.png" class="creater_image">

      </div>
  </div>
  <div class="float-pro">
    <a [routerLink]="'pro-info'"  routerLinkActive="active"><mat-icon>account_circle</mat-icon> <span>profile</span></a>

    <a [routerLink]="'assignments'" routerLinkActive="active"><mat-icon>assignment</mat-icon> <span>Assignments</span></a>

    <a [routerLink]="'challenges'" routerLinkActive="active"><mat-icon>question_answer</mat-icon> <span>Challenges</span></a>
  </div>
</div>
<div class="directory_marks">
<router-outlet></router-outlet>
</div>

