.projectlister {
  position: absolute;
  display: inline-block;
  width: 17%;
  height: 100%;
  font-size: 14px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 20px;
  color: rgb(32, 32, 32);
  background: rgb(246, 245, 250);
  background-image: url(../../../../assets/others/texture.png);

  .float-pro {
    margin-left: 10px;

    a {
      position: relative;
      text-decoration: none;
      color: rgb(115, 115, 115);
      display: block;
      height: 30px;
      font-weight: 700;
      padding-left: 20px;
      padding-top: 5px;
      margin-top: 5px;
      transition-duration: 0.4s;
      overflow: hidden;
      cursor: pointer;
      span {
        position: absolute;
        text-transform: capitalize;
        top: 25%;
        margin-left: 20px;
      }
    }

    a:after {
      content: "";
      background: rgb(51, 103, 214);
      border-radius: 20px;
      display: block;
      position: absolute;
      padding-left: 300%;
      padding-top: 350%;
      margin-top: -40px !important;
      margin-left: -120%;
      opacity: 0;
      transition: all 0.8s
    }

    a:active:after {
      padding: 0;
      margin: 0;
      opacity: 1;
      transition: 0s
    }

    .active {
      color: rgb(68, 68, 68);
      border-left: 4px solid rgb(51, 103, 214);
      background-color: rgb(255, 255, 255);
      box-shadow: 1px 1px 6px #dde;
      line-height: 1.6;
      border-radius: 1px;
      cursor: pointer;
    }
  }

  .quote_container {
    position: relative;
    left: 10px;
    width: 220px;
    height: 200px;

    .quote_text_continer {
      text-align: center;
      width: 210px;
      height: 190px;
      border-radius: 5px;
      padding: 3px;
      background-color: rgb(255, 255, 255);
      box-shadow: 1px 1px 15px #dde;
      color: rgb(112, 112, 112);

      .my-inspiration q {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        font-weight: 800;
      }

    }

    .creater_image {
      position: absolute;
      bottom: 0px;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      right: 0;
      background-color: coral;
      border: 4px solid white;
      box-shadow: 3px 4px 7px #dde;

      img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }

    }

    .writers_name {
      position: absolute;
      width: 140px;
      left: 12px;
      border-radius: 2px;
      height: 25px;
      bottom: 10%;
      background: white;
      box-shadow: 1px 1px 8px rgba(221, 221, 238, 0.377);
      text-align: center;
      i {

        line-height: 2.1;
        font-style: italic;
      }
    }

  }
}

.directory_marks {
  position: absolute;
  left: 17%;
  width: calc(100% - 17%);
  height: 100%;


}

@media screen and (max-width: 700px) {
  .projectlister {
    width: 50px;

    .float-pro {
      margin-left: 0px;

      a {
        padding-left: 5px;
        padding-top: 5px;
        margin-top: 5px;
      }

      .active {
        border-left: none;
        border-left: 4px solid rgb(51, 103, 214);
      }

    }

    .profile_img_container {
      display: none;
    }
  }

  .directory_marks {
    position: absolute;
    left: 50px;
    width: calc(100% - 50px);
    height: 100%;
  }

}
