
.example-card{
  position: relative;
  width: 100%;
  height: 100%;
}
.c-message_kit__message {
      position: relative;
      line-height: 1.46668;
      &:hover{
        background: rgba(224, 229, 235, 0.664);
        border-radius: 4px;
        .c-message__actions{
          display: inline-flex;
        }
      }
  }
.c-message_kit__message {
      font-size: 15px;
  }

.c-message_kit__message {
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
      word-wrap: break-word;
  }
  .c-message_kit__background {
      background: rgba(var(--sk_primary_background,255,255,255),1);
  }
  .c-message_kit__labels__offscreen_message {
      position: absolute;
      overflow: hidden;
      clip: rect(0 0 0 0);
      height: 1px;
      width: 1px;
      margin: -1px;
      padding: 0;
      border: 0;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  .p-message_pane_message__message .c-message_kit__gutter, .p-message_pane_message__message .c-message_kit__tombstone {
      padding: 8px 20px;
  }
  .c-message_kit__gutter {
      display: flex;
  }
  .c-message_kit__gutter__left {
      flex-shrink: 0;
      margin-right: 8px;
      display: flex;
  }
  .c-message_kit__gutter__right {
      flex: 1 1 0;
      min-width: 0;
      padding: 8px;
      padding-left: 16px;
      margin: -12px -8px -16px -16px;
  }
  .c-message_kit__avatar {
      flex-shrink: 0;
  }
  .c-avatar--interactive {
      cursor: pointer;
  }
  .c-avatar {
      position: relative;
      display: inline-block;
      cursor: default;
      outline: none;
  }
  .c-button-unstyled {
      background: none;
      border: 0;
      color: inherit;
      font: inherit;
      margin: 0;
      line-height: inherit;
      overflow: initial;
      padding: 0;
      text-align: initial;
      vertical-align: initial;
      cursor: pointer;
  }
  .c-base_icon--image {
      background-size: 100%;
      background-repeat: no-repeat;
      display: inline-block;
  }
  .c-base_icon {
      background-color: rgba(var(--sk_foreground_low,29,28,29),.13);
      position: relative;
      border-radius: 4px;
      color: rgba(var(--sk_primary_foreground,29,28,29),1);
      flex-shrink: 0;
  }
  .c-message_kit__sender {
      font-weight: 900;
  }
  .c-message__sender, .c-message__sender a {
      color: rgba(var(--sk_primary_foreground,29,28,29),1);
  }
  .c-message__sender {
      font-weight: 600;
      word-break: break-word;
  }
  .c-message__sender a {
      color: rgba(var(--sk_primary_foreground,29,28,29),1);
  }
  .c-message__sender_link {
      display: inline-block;
  }
  a {
      color: rgba(var(--sk_highlight,18,100,163),1);
      text-decoration: none;
  }
   .c-timestamp:link {
      color: rgba(var(--sk_foreground_max_solid,97,96,97),1);
  }
  .c-timestamp {
      font-size: 12px;
  }
  .c-message_kit__blocks--rich_text {
      max-width: none;
      margin-bottom: 4px;
  }
  .c-message__message_blocks--rich_text {
      max-width: none;
      word-wrap: break-word;
  }
  .p-block_kit_renderer__block_wrapper {
      display: flex;
  }

  .c-message_kit__thread_replies.c-message__reply_bar {
    margin-top: -4px;
    margin-bottom: 4px;
    height: 21px;
    &:hover{
      box-shadow: 2px 4px 9px #dde;

    }
}
.c-message__reply_bar {
    margin: 4px 0 -2px -5px;
}
.c-message__reply_bar {
    display: flex;
    align-items: center;
    max-width: 600px;
    padding: 4px;
    font-size: 13px;
    border: 1px solid transparent;
    border-radius: 6px;
    cursor: pointer;
    overflow: hidden;
    height: 34px;
}
.c-message__reply_count {
  margin-left: 3px;
  font-weight: 700;
  flex-shrink: 0;
}
.c-message__reply_bar_description {
  position: relative;
  margin-left: 8px;
  color: rgba(var(--sk_foreground_max_solid,97,96,97),1);
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.c-message__reply_bar_last_reply {
  opacity: 1;
  transition: opacity .2s;
}
.c-message__reply_bar_view_thread {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity .2s;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.c-message__actions {
    position: absolute;
    top: -10px;
    right: 17px;
    display: none;
    z-index: 1;


}
.c-message_actions__group {
  background: rgba(var(--sk_primary_background,255,255,255),1);
  line-height: 1;
  margin-left: 8px;
  border: unset;
  box-shadow: unset;
  --saf-0: rgba(var(--sk_foreground_low,29,28,29),0.13);
  box-shadow: 0 0 0 1px var(--saf-0),0 1px 3px 0 rgba(0,0,0,.08);
  display: flex;
  padding: 2px;
  border-radius: .375em;
}
.c-message_actions__button {
  color: rgba(var(--sk_foreground_max,29,28,29),.1);
  height: 25px;
  width: 25px;
  border-radius: 3px;
  &:active{
    background: rgba(230, 230, 230, 0.356);
  }
}

.c-icon_button {
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  justify-content: center;
  position: relative;

}
.c-button-unstyled {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  line-height: inherit;
  overflow: initial;
  padding: 0;
  text-align: initial;
  vertical-align: initial;
  cursor: pointer;
}
