<div class="container">
  <app-auth-heather></app-auth-heather>
<div class="upercontainer">
</div>
<div class="float_in_front">
   <div class="loginbox animated slideInUp ">
     <div class="title">
        <div class="logo"> <img src="../../assets/others/logo.png" alt=""> Rcode</div>
        <div class='info'>Enter your email</div>
     </div>
     <form #resetForm=ngForm (ngSubmit)="onsubmit()" >
     <div class="form">

              <div class="formmain">
                 <input type="text" name="email" id="email_log" placeholder="your email pl" [(ngModel)]="Form.email" required>
              </div>
           <div class="actions">
              <button class="button b2" type="submit" [disabled]="!resetForm.valid">send email</button>
           </div>

           <div class="gologin"><a nohref >return to <i routerLink="/login">login</i></a></div>
     </div>
  </form>
   </div>
</div>
<div class="lowercontainer"></div>
</div>


