<app-dash-header></app-dash-header>
<mat-progress-bar
  *ngIf="loading" color="primary" mode="indeterminate">
</mat-progress-bar>
<nav class="nav_around" id="nav_around">
          <div class="float-17" id="float-17">
          <a routerLink="/profile/filexplorer" routerLinkActive="active"><mat-icon>folder</mat-icon><span>Explorer</span></a>

          <a routerLink="/profile/markspage" routerLinkActive="active"><mat-icon>done</mat-icon><span>Marks</span></a>

          <a routerLink="/profile/profile-page" routerLinkActive="active"><mat-icon>account_box</mat-icon><span>Profile</span></a>

          <a routerLink="/profile/activities" routerLinkActive="active"><mat-icon>settings</mat-icon><span>Activities</span></a>
        </div>
</nav>
<div class="content" id="content">
<router-outlet> </router-outlet>
</div>
<app-footer-menu></app-footer-menu>
<app-common-footer></app-common-footer>

