<div class="directory_profile" id="Profile">
  <div class="directory_header" style="height: 40px">
      <div class="sort_challenge" onclick="show('sort_selection')"><img style="width: 30px;height:30px;margin-left:20px;margin-top:5px"
              src="../../../../../assets/others/profile.png" alt=""></div>
      <div style="display:inline-block;margin-left:40%"><span
              style="position: absolute;top:10px;font-size:14px;font-weight:600">Your profile</span></div>
  </div>
  <div class="directory_show">
      <div class="side_bar_left_with_img">
          <div class="profile_in_title" (click)="openNewFolderDialog()">

              <span>view & edit profile info</span>

          </div>
          <img class="profile_picture" id="profile_picture_id"
              src="../../../../../assets/profile_picture/31592671453.png" alt="">

          <div class="username_display">
              <span class="username_display-show"> jaylove</span>
              <span class="username_status">currently I am busy studying</span>
              <span class="username_class">class1</span>
          </div>
          <div class="profile_menu_show">
              <div class="floatleft-profile_menu ap_pr1">
                  <mat-icon>flag</mat-icon>
              </div>
              <div class="floatright-profile_menu ">
                  <span class="top_number">123</span>
                  <span class="bottom-discription">trophies</span>
              </div>
          </div>
          <div class="profile_menu_show">
              <div class="floatleft-profile_menu ap_pr2">
                  <mat-icon>favorite</mat-icon>
              </div>
              <div class="floatright-profile_menu">
                  <span class="top_number">123</span>
                  <span class="bottom-discription">following
                  </span>
              </div>
          </div>
          <div class="profile_menu_show">
              <div class="floatleft-profile_menu ap_pr3">
                  <mat-icon>playlist_add_check</mat-icon>
              </div>
              <div class="floatright-profile_menu">
                  <span class="top_number">12</span>
                  <span class="bottom-discription">
                      unsolved
                  </span>
              </div>
          </div>
      </div>
      <div class="profile_content_right">
          <div class="performance_od-workings">
              <div class="header_content_workings">
                  <div class="dispcribe_left">
                      <span class="pro_emergency">Emergency acts</span>
                      <ul class="pagination">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a class="active" href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                      </ul>
                    </div>
                  <div class="dispcribe_right">
                      <span class="pro_emergency">Lethargies</span>
                      <button  >
                          <i class="fa fa-list"></i>
                      </button>
                      <button mat-button [matMenuTriggerFor]="menu" class="sort-lethargies-btn"><mat-icon>menu</mat-icon></button>
                      <mat-menu #menu="matMenu">
                        <button mat-menu-item>item1</button>
                        <button mat-menu-item>item2</button>
                      </mat-menu>
                  </div>
              </div>
              <div class="content_content_workings">
                <mat-card class="content_content_workings_left">

                </mat-card>
                  <mat-card class="content_content_workings_rigth">
                      <div class="Lethargies_menu_show">
                          <div class="floatleft-Lethargies_menu ap_pr1">
                              <img src="../../../../../assets/profile_picture/31592671453.png" alt="">
                          </div>
                          <div class="floatright-Lethargies_menu">
                              <span class="top_number">Tuyishime jeand'amour</span>
                              <span class="bottom-discription">trophies</span>
                              <span class="left_percentage-discription">45% <i class="fa fa-arrow-right"
                                      style="margin-left: 10px;"></i></span>
                          </div>

                      </div>
                  </mat-card>
              </div>

          </div>

          <div class="botomm_content_show">
              <div class="dispcribe_left">
                  <span class="pro_emergency" style="margin-left: 5%;">Message</span>
                  <ul class="pagination">
                    <li><a href="#">«</a></li>
                    <li><a class="active" href="#">2</a></li>
                    <li><a href="#">»</a></li>
                  </ul>
              </div>
              <div class="main_container_bottom">

                  <div class="message_div_sent">
                      <div class="floatleft-Lethargies_menu ">
                          <img style="width:35px; height:35px;margin-left:3px;margin-top:1px"
                              src="../../../../../assets/profile_picture/31592671453.png" alt="">
                      </div>
                      <div class="floatright-Lethargies_menu">
                          <span class="top_number">Tuyishime jeand'amour</span>
                          <span class="bottom-discription">help me to to this...</span>
                          <span class="left_percentage-discription"><i class="fa fa-check"
                                  style="margin-left: 10px;"></i></span>
                      </div>
                  </div>


              </div>
          </div>
          <button class="saveAndEdit_profile"><i class="fa fa-plus" style="font-size: 20px;"></i></button>
      </div>

  </div>
</div>
