<div class="projectlister">
  <div class="projectTitle">
      your marks
  </div>
  <div class="float-pro">
    <a [routerLink]="'term1'"  routerLinkActive="active"><mat-icon>photo</mat-icon><span>term1</span></a>

    <a [routerLink]="'term2'" routerLinkActive="active"> <mat-icon>people</mat-icon><span>term2</span></a>

    <a [routerLink]="'term3'" routerLinkActive="active"><mat-icon >home</mat-icon><span>term3</span></a>
  </div>
</div>
<div class="directory_marks">
<router-outlet></router-outlet>
</div>
