
  <div class="directory_header" style="height: 40px">
    <div class="sort-header-inheader"  [@openClose]="!isOpen ? 'open' : 'closed'">
        <div class="closefilter" (click)="toggle()"><mat-icon>menu</mat-icon></div>
      </div>
      <div class="cancledsidebar" [@openClose]="isOpen ? 'open' : 'closed'">
        <div class="closefilters" (click)="toggle()"><mat-icon>menu</mat-icon></div>
        </div>
      <div style="display:inline-block;margin-left:40%"><span
              style="position: absolute;top:10px;font-size:14px;font-weight:600">Your profile</span></div>
  </div>
  <div class="directory_show">
    <div class="side_bar_left_with_img"[@openClose]="!isOpen ? 'open' : 'closed'">
      
    </div>
    <div class="profile_content_right">
<div class="challenge_container">
    <div class="sidebar_diplay" id="show_whole_content_challenge" [hidden]="!open">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
    </div>
    <div class="challenge" id="main_challenge_container">
      <div class="assignment_div">
        <div class="img_assign img_challenge" (click)="openNav()">

        </div>
        <div class="footer_assign">
          <div class="mini_img_div">
            <img class="mini_img" src="../../../../../assets/profile_picture/31592671453.png" alt="">
          </div>
          <div class="subtmisiondetails">
            <span>this work was:<b>submitted</b></span><br>
            <span>you got:<b>45/100 </b></span>
          </div>

        </div>
      </div>
      <div class="assignment_div">
        <div class="img_assign img_challenge" (click)="openNav()">

        </div>
        <div class="footer_assign">
          <div class="mini_img_div">
            <img class="mini_img" src="../../../../../assets/profile_picture/31592671453.png" alt="">
          </div>
          <div class="subtmisiondetails">
            <span>this work was:<b>submitted</b></span><br>
            <span>you got:<b>45/100 </b></span>
          </div>

        </div>
      </div>
      <div class="assignment_div">
        <div class="img_assign img_challenge" (click)="openNav()">

        </div>
        <div class="footer_assign">
          <div class="mini_img_div">
            <img class="mini_img" src="../../../../../assets/profile_picture/31592671453.png" alt="">
          </div>
          <div class="subtmisiondetails">
            <span>this work was:<b>submitted</b></span><br>
            <span>you got:<b>45/100 </b></span>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>
</div>
