<div class="directory_header">
  <div class="sort-header-inheader"  [@openClose]="!isOpen ? 'open' : 'closed'">
    <div class="closefilter" (click)="toggle()"><mat-icon>tune</mat-icon></div>
  </div>
  <div class="cancledsidebar" [@openClose]="isOpen ? 'open' : 'closed'">
    <div class="closefilters" (click)="toggle()"><mat-icon>tune</mat-icon></div>
    </div>
    <div class="titleinheader"><span >prepare task or save for future set</span></div>
</div>
  <div class="directory_show">
      <div class="side_bar_left_with_img" [@openClose]="!isOpen ? 'open' : 'closed'">
        <mat-nav-list>
        <mat-form-field class="example-full-width">
          <mat-label>search any task </mat-label>
          <input matInput>
        </mat-form-field>
        <div class='sort_arrengement'>
        <div class="filters">
          <span class="header_sort">filter</span>
          <ul>
            <li><mat-icon>menu</mat-icon><span> all</span></li>
            <li><mat-icon>menu</mat-icon><span>this week</span></li>
            <li><mat-icon>menu</mat-icon><span>last week</span></li>

          </ul>
        </div>
        <div class="label">
          <span class="header_sort">lessons</span>
          <ul>
            <li><mat-icon>menu</mat-icon><span>php</span></li>
            <li><mat-icon>menu</mat-icon><span>java</span></li>
            <li><mat-icon>menu</mat-icon><span>c++</span></li>
            <li><mat-icon>menu</mat-icon><span>c#</span></li>

          </ul>
        </div>
        </div>
      </mat-nav-list>
      </div>
      <div class="profile_content_right">
        <div class="filefolder_container" [ngStyle]="{'padding-top.px': !fileopened?20:0}">
          <div class="submitedbreadcom" *ngIf="fileopened"></div>
          <div class="taskfo" *ngIf="!fileopened">
          <div class="filecontainer" *ngFor="let marked of markedtask" (contextmenu)="onContextMenu($event,marked)" (dblclick)="getsubmittedfiles(marked)">
            <div class="file-image">
              <div class='image'>

              </div>
            </div>
            <div class="file-semidetails">
                  <span class="foldername">{{marked.taskname}}</span>
                  <span>{{marked.marks}}</span>
                  <span style="margin-left: 5px;">{{marked.giveat | date:"dd MMMM',' yyyy"}}</span>
                  <span style="margin-left: 5px;">{{marked.submitted | date:"dd MMMM',' yyyy"}}</span>
                  <button mat-icon-button (click)="onContextMenu($event,marked)" aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </div>
          </div>
        </div>
        <div class="taskfofile" *ngIf="fileopened">
          <div class="filecontainer" *ngFor="let file of files">
            <div class="file-image">
              <div class='image'>

              </div>
            </div>
            <div class="file-semidetails">
                  <span class="foldername">{{file.name}}</span>
                  <span *ngIf="file.subfiles != null">
                  <span>files</span>
                  <span style="margin-left: 5px;">{{file.subfiles.length}}</span>
                  <span style="margin-left: 5px;">in this folder</span>
                </span>
                </div>
          </div>
        </div>
          <context-menu>
            <ng-template contextMenuItem >
              <mat-icon>open_in_new</mat-icon>open
            </ng-template>
            <ng-template contextMenuItem >
              <mat-icon>bookmark</mat-icon>
              label task
            </ng-template>
            <ng-template contextMenuItem >
              <mat-icon>share</mat-icon>
              share
            </ng-template>
            <ng-template contextMenuItem >
              <mat-icon>cloud_download</mat-icon>
              download
            </ng-template>
            <ng-template contextMenuItem >
              <mat-icon>insert_chart_outlined</mat-icon>
              performance
            </ng-template>
          </context-menu>
        </div>
        <div class="showdetails">
         <div class="clicked_file_show"></div>
         <div class='clicked_file_detail'>
          <div class="file_2">
            <span class="file_desc_span_header">name</span>
            <span>headers</span>
          </div>
        <div class="file_2">
          <span class="file_desc_span_header">given at</span>
          <span>30, apirl, 2020</span>
        </div>
        <div class="file_3">
          <span class="file_desc_span_header">submitted at</span>
          <span>30, apirl, 2020</span>
        </div>
        <div class="file_4">
          <span class="file_desc_span_header">marks</span>
          <span>30/100</span>
        </div>
        <div class="file_5">
          <span class="file_desc_span_header">others</span>
           <span>can edit   <mat-icon>edit</mat-icon></span>
          <div class="sharework">
            <input type="text" placeholder="http://rcode/weridjfngkfhffhgi...">
            <button><mat-icon>link</mat-icon></button>
          </div>
         
          <button mat-flat-button >  
            <span>download   </span>
            <mat-icon>cloud_download</mat-icon>
          </button>
        </div>
         </div>
        </div>
      </div>
    </div>


