<style>
  .loginbox {
   top: 40%;
   left: 50%;
   height: 70%;
   z-index: 0;

}
.title {
height: 90px;
}
.formmain{
margin-top: 20px;;
}
.formmain>* {
margin: 20px;
margin-top: 5px
}

.formmain input {
width: 80%;
height: 20px;
border: 0;
padding-left: 10px;
background: none;
border-bottom: 1px solid rgba(195, 195, 216, 0.5);
font-size: 13px;
font-weight: 300;
color: rgb(55, 55, 56);
letter-spacing: 0.11em;
}

.formmain input::placeholder {
color: rgb(144, 144, 148);
font-size: 12px;
font-family: poppins;
}

.formmain input:focus {
outline: 0;
background-color: rgba(241, 241, 245, 0.521);
border-bottom: 1px solid rgba(128, 155, 206, 0.7);
transition: 0.6s all ease;
}
.button{
   margin-top: 10px;
}
.gologin{
   position: absolute;
   bottom: -32px;
   width: 100%;
   height: 32px;
   border-bottom-left-radius: 4px;
   border-bottom-right-radius: 4px;
   background: rgb(0,0,0);
   left: 0px;
   line-height: 2.7;
}
.gologin i{
   margin-left: 20px;
}
.gologin i:hover{
 color: blue;
 cursor: pointer;
}
.form{
  
   height:80%;
}

.form_content_left{
   margin-top: 50px;
   float: left;
   width: 90%;
}
</style>
<div class="container">
  <div class="background"></div>
  <app-auth-heather></app-auth-heather>
<div class="loginbox animated-500 fadeInDown aero">
  <div class="title">
     <div class="logo"> <img src="../../assets/others/logo.png" alt=""> Rcode</div>
  </div>
  <div class="form">
  <div class="form_content_left">
           <div class="formmain">
           <input type="text" name="first_Name" id="firstname" placeholder="First Name*">
          <input type="text" name="second_Name" id="lastname" placeholder="Last Name*">
          <input type="text" name="username_Name" id="username" placeholder="Username Name*">
          <input type="email" name="user_email" id="email_reg" placeholder="Email*">
          <input type="password" name="user_password" id="password_reg" placeholder="Password">
          <input type="password" name="" id="" placeholder="Confirm password">
           </div>

     </div>


        <div class="actions">
        <button class="button b2" onclick="registerUser('firstname','lastname','email_reg','password_reg','status1')">Register</button>
        </div>

        <div class="msg" id="status1"></div>
       <div class="gologin"><a routerLink="/" >have account <i >Login</i></a></div> 

  </div>
</div>
<app-common-footer></app-common-footer>
