
<mat-tab-group  mat-align-tabs="center">
  <mat-tab label="questions">
    <div class="example-small-box" [ngClass]="data.authorized?'tool':''">
      <quill-editor [(ngModel)]="taskreviewcontent.long" name="long_desc" [styles]="{height: '85%',position: 'absolute',width:'100%'}" [disabled]="!data.authorized" (onEditorCreated)="addclassquill()"></quill-editor>
    </div>
  </mat-tab>
  <mat-tab label="Answers">
    <div class="example-small-box" [ngClass]="data.authorized?'tool':''">
      <quill-editor [(ngModel)]="taskreviewcontent.short" name="long_desc" [styles]="{height: '85%',position: 'absolute',width:'100%'}" [disabled]="!data.authorized"></quill-editor>
    </div>
  </mat-tab>
  <mat-tab label="feedback">
    <div class="example-small-box">
      <div class="example-small-box">
        <div class="messages">
          <div class="chat-content"  [class.actions-visible]="talks" perfectScrollbar>
              <mat-list *ngIf="talks" class="p-0" >
                  <mat-list-item *ngFor="let talk of talks" class="talk-item">
                      <img matListAvatar [src]="talk.image">
                      <p matLine class="message">
                          <span>{{talk.text}}</span>
                      </p>
                      <p matLine class="message-date">
                          <small>{{talk.date | date:"dd MMMM, yyyy 'at' HH:mm"}}</small>

                      </p>
                  </mat-list-item>
              </mat-list>
              <div *ngIf="!talks" fxLayout="column" fxLayoutAlign="center center" class="h-100 empty">
                  <mat-icon>chat</mat-icon>
                  <p>no issue with this task yet</p>
              </div>
          </div>
          <mat-divider></mat-divider>
          <div *ngIf="!talks" fxLayout="column" fxLayoutAlign="center center" class="h-100 empty">
            <mat-icon>chat</mat-icon>
            <p>no issue with this task yet</p>
        </div>
        <app-issues *ngIf="talks"[talks]="talks">
        </app-issues>
      </div>
      </div>
    </div>

  </mat-tab>

</mat-tab-group>
