<mat-tree [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl">
  <mat-tree-node  *matTreeNodeDef="let node"
    matTreeNodeToggle class="monaco-list-row" [class.activefile]="node.active" (click)="getcode(node)"
    (mouseover)="node.active= true" (mouseleave)="node.active= false">
    <div class="monaco-tl-row" [ngStyle]="{'padding-left.px':node.padding}">
      <div class="monaco-tl-indent">
        <div class="indent-guide"></div>
        <div class="indent-guide"></div>
      </div>
      <div class="monaco-tl-twistie" style="padding-left: 24px;"></div>
      <div class="monaco-tl-contents">
        <div
          class="monaco-icon-label file-icon file.html-name-file-icon html-ext-file-icon ext-file-icon html-lang-file-icon explorer-item monaco-decoration-itemColor--ec98p9 monaco-decoration-itemBadge--ec98p9"
          title="~/Desktop/homeworks/Rcode/src/app/components • Contains emphasized items" style="display: flex;">
          <div class="monaco-icon-label-container"><span class="monaco-icon-name-container"><a class="label-name"><span
                  class="monaco-highlighted-label" 
                  title="~/Desktop/homeworks/Rcode/src/app/components • Contains emphasized items"><span>{{node.name}}</span></span></a></span><span
              class="monaco-icon-description-container"></span></div>
        </div>
      </div>
    </div>
  </mat-tree-node>

  <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
    <div class="monaco-list-row" [class.activefile]="node.active" [ngStyle]="{'padding-left.px':node.padding}"
       (mouseover)="node.active= true" (mouseleave)="node.active= false">
      <div class="monaco-tl-row mat-tree-node" matTreeNodeToggle (click)="addpadding(node)">
        <div class="monaco-tl-indent">
          <div class="indent-guide"></div>
          <div class="indent-guide"></div>
        </div>
        <div class="monaco-tl-twistie codicon codicon-tree-item-expanded collapsible" [ngClass]="{'collapsed':!nestedTreeControl.isExpanded(node)}" style="padding-left: 24px;">
        </div>
        <div class="monaco-tl-contents">
          <div
            class="monaco-icon-label folder-icon components-name-folder-icon explorer-item monaco-decoration-itemColor--83mhpv monaco-decoration-bubbleBadge--83mhpv"
            
            title="~/Desktop/homeworks/Rcode/src/app/components • Contains emphasized items"
            style="display: flex;">
            <div class="monaco-icon-label-container"><span class="monaco-icon-name-container"><a
                  class="label-name"><span class="monaco-highlighted-label"><span>{{node.name}}</span></span></a></span><span
                class="monaco-icon-description-container"></span></div>
          </div>
        </div>
      </div>
    </div>
    <div [hidden]="!nestedTreeControl.isExpanded(node)" style="width:100%;position:relative">
      <div class="nodecontainertree" [ngStyle]="{'left.px':node.padding+18}"></div>
      <ng-container matTreeNodeOutlet></ng-container>
    </div>
  </mat-nested-tree-node>
</mat-tree>
