<div class="settinghelp animated slideInRight" id="setting_help" style="border-radius:5px">
    <div class="sett_header">
        <span class="close-btn" onclick="hideanimate('setting_help')" id="closebtn"><img width="20px" height="20px"
                src="../../../../../../assets/others/icon.png" alt=""></span>
    </div>
    <div class="sidebar_toggle">
    
        <ul class="help_menu">
            <li class="togglebtnlog help_menu_active" id="noti"
                onclick="toggleAroundHelp('noti','notifications','togglebtnlog','content_toggle','help_menu_active');toggleAroundHelp('assig','assignment','noti_fh','noti_content','noti_menu_active')">
                <i class="fa fa-bell" style="font-size: 16px;margin-right:15px"></i>
                Notifications</li>
            <li class="togglebtnlog" id="down"
                onclick="toggleAroundHelp('down','download','togglebtnlog','content_toggle','help_menu_active')">
                <i class="fa fa-download" style="font-size: 16px;margin-right:15px"></i>
                Download</li>
            <li class="togglebtnlog" id="aboutb"
                onclick="toggleAroundHelp('aboutb','about','togglebtnlog','content_toggle','help_menu_active')">
                <i class="fa fa-info-circle" style="font-size: 16px;margin-right:15px"></i>
                About</li>
            <li class="togglebtnlog" id="helpb"
                onclick="toggleAroundHelp('helpb','help_rcode','togglebtnlog','content_toggle','help_menu_active')">
                <i class="fa fa-question" style="font-size: 16px;margin-right:15px"></i>
                Help</li>
        </ul>
    </div>
    <div class="content_toggle" id="notifications">
        <div class="notification_header">
            <div class="noti_fh assignment" id="assig"
                onclick="toggleAroundHelp('assig','assignment','noti_fh','noti_content','noti_menu_active')">
                <img class="noti_img" src="../../../../../../assets/others/icon.png" alt="">
                <span class="noti_name">Assignment</span>
                
                    <span class="noti_number" id="notinumber">12</span>
               
            </div>
            <div class="noti_fh challenge_noti" id="chall"
                onclick="toggleAroundHelp('chall','challenge','noti_fh','noti_content','noti_menu_active')">
                <img class="noti_img" src="../../../../../../assets/others/icon.png" alt="">
                <span class="noti_name">challenges</span>
                <span class="noti_number">102</span>
            </div>
            <div class="noti_fh message" id="mess"
                onclick="toggleAroundHelp('mess','message-cont','noti_fh','noti_content','noti_menu_active')">
                <img class="noti_img" src="../../../../../../assets/others/icon.png" alt="">
                <span class="noti_name">attention</span>
                <span class="noti_number">12</span>
            </div>
        </div>
        <div class="noti_content" id="assignment">
            <div class="noti_message" onclick="openNav();hide('setting_help');openAllOpen()">
                <div class="picture_instructor">
                    <img src="../../../../../../assets/others/icon.png" alt="">
                </div>
                <div class="task_discription_noti">
                    <span><b>small discription</b></span><br>
                    <span>tash of doing what is needed this is logic now comming to see you</span>
                </div>
                <div class="timeof_task">
                    <div class="lesson">
                        <span>lesson: <b>PHP</b></span>
                    </div>
                    <div class="deleviry_time">
                        <span>due to date: <b>thrusday 26 2050</b></span><br>
                        <span>Remain date: <b>2 days 4hrs 3 min</b></span>
                    </div>
                </div>
            </div>
            <div class="noti_message">
                <div class="picture_instructor">
                    <img src="../../../../../../assets/others/icon.png" alt="">
                </div>
                <div class="task_discription_noti">
                    <span><b>small discription</b></span><br>

                    <span>tash of doing what is needed this is logic now comming to see you</span>
                </div>
                <div class="timeof_task">
                    <div class="lesson">
                        <span>lesson: <b>java</b></span>
                    </div>
                    <div class="deleviry_time">
                        <span>due to date: <b>thrusday 26 2050</b></span><br>
                        <span>Remain date: <b>2 days 4hrs 3 min</b></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="noti_content" id="challenge"></div>
        <div class="noti_content" id="message-cont"></div>
    </div>
    <div class="content_toggle" id="download">2</div>
    <div class="content_toggle" id="about">4</div>
    <div class="content_toggle" id="help_rcode">5</div>
</div>
