.common-footer {
    color: #eee;
    height: 24px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    text-align: center;
    width: calc(100%);
    background: rgb(51, 103, 214);
    padding-top: 5px;
 }

 .common-footer a:hover {
    color: #fff;
 }
 @media screen and (max-width: 908px) {
  .common-footer{
    display: none;
  }

  }
