<div class="directory_header" style="height:40px;margin-bottom:15px">
  <img style="width: 30px;height:30px;margin-left:20px;margin-top:5px"
      src="../../../../../assets/others/tasklist.png" alt="">
  <span style="position: absolute;top:10px;left:40%;font-size:14px;font-weight:600">prepare task or save
      for future set</span>
</div>
  <div class="directory_show">
      <div class="side_bar_left_with_img">
        <mat-nav-list>
        <mat-form-field class="example-full-width">
          <mat-label>search any task </mat-label>
          <input matInput   >
        </mat-form-field>
        <div class='sort_arrengement'>
        <div class="filters">
          <span class="header_sort">filter</span>
          <ul>
            <li><mat-icon>menu</mat-icon><span> all</span></li>
            <li><mat-icon>menu</mat-icon><span>this week</span></li>
            <li><mat-icon>menu</mat-icon><span>last week</span></li>

          </ul>
        </div>
        <div class="label">
          <span class="header_sort">labeled</span>
          <ul>
            <li><mat-icon>menu</mat-icon><span>first list</span></li>
            <li><mat-icon>menu</mat-icon><span>first list</span></li>
            <li><mat-icon>menu</mat-icon><span>first list</span></li>
            <li><mat-icon>menu</mat-icon><span>first list</span></li>

          </ul>
        </div>
        </div>
      </mat-nav-list>
      </div>
      <div class="profile_content_right">
        <div class="filefolder_container">
          <div class="filecontainer">
            <div class="file-image">
              <div class='image'>

              </div>
            </div>
            <div class="file-semidetails">
                  <span class="foldername">studentfolder</span>
                  <span>studentfolder</span>
                  <span>studentfolder</span>
                  <button mat-icon-button (click)="onContextMenu($event,'ol')" aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </div>
          </div>
          <div class="filecontainer">
            <div class="file-image">
              <div class='image'>

              </div>
            </div>
            <div class="file-semidetails">
                  <span class="foldername">studentfolder</span>
                  <span>studentfolder</span>
                  <span>studentfolder</span>
                  <span>studentfolder</span>
                  <button mat-icon-button (click)="onContextMenu($event,'ol')" aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </div>
          </div>
          <div class="filecontainer">
            <div class="file-image">
              <div class='image'>

              </div>
            </div>
            <div class="file-semidetails">
                  <span class="foldername">studentfolder</span>
                  <span>studentfolder</span>
                  <span>studentfolder</span>
                  <span>studentfolder</span>
                  <button mat-icon-button (click)="onContextMenu($event,'ol')" aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                </div>
          </div>
          <div class="filecontainer">
            <div class="file-image">
              <div class='image'>

              </div>
            </div>
            <div class="file-semidetails">
                  <span class="foldername">studentfolder</span>
                  <span>studentfolder</span>
                  <span>studentfolder</span>
                  <span>studentfolder</span>
                  <button mat-icon-button (click)="onContextMenu($event,'ol')" aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>more_vert</mat-icon>
                  </button>
            </div>
          </div>
          <context-menu>
            <ng-template contextMenuItem >
              <mat-icon>open</mat-icon>open
            </ng-template>
            <ng-template contextMenuItem >
              <mat-icon>bookmark</mat-icon>
              label task
            </ng-template>
            <ng-template contextMenuItem >
              <mat-icon>share</mat-icon>
              share
            </ng-template>
            <ng-template contextMenuItem >
              <mat-icon>cloud_download</mat-icon>
              download
            </ng-template>
            <ng-template contextMenuItem >
              <mat-icon>graph</mat-icon>
              performance
            </ng-template>
          </context-menu>
        </div>
        <div class="showdetails">
         <div class="clicked_file_show"></div>
         <div class='clicked_file_detail'>
        <div class="file_1">
          <span class="file_desc_span_header">short discription</span>
          <span>Lorem ipsum dolor sit amet consectetur </span>
        </div>
        <div class="file_2">
          <span class="file_desc_span_header">given at</span>
          <span>30, apirl, 2020</span>
        </div>
        <div class="file_3">
          <span class="file_desc_span_header">submitted at</span>
          <span>30, apirl, 2020</span>
        </div>
        <div class="file_4">
          <span class="file_desc_span_header">marks</span>
          <span>30/100</span>
        </div>
        <div class="file_5">
          <span class="file_desc_span_header">others</span>
           <span>can edit   <mat-icon>edit</mat-icon></span>
          <div class="sharework">
            <input type="text" placeholder="http://rcode/weridjfngkfhffhgi...">
            <button><mat-icon>link</mat-icon></button>
          </div>
         
          <button mat-flat-button >  
            <span>download   </span>
            <mat-icon>cloud_download</mat-icon>
          </button>
        </div>
         </div>
        </div>
      </div>
    </div>


