.directory_header {
  position: sticky;
  display:flex;
  top: 0px;
  width: 100%;
  height: 40px;
  border-radius: 3px;
  z-index: 200;
  box-shadow: 1px 2px 3px #dde;
  background-color: rgb(255, 255, 255);
  .sort-header-inheader{
    width:22%;
    background:rgb(23, 202, 38);
    height:40px;
    .closefilter{
      width:50px;
      height:40px;
      background:rgb(12, 97, 19);
      float:right;
      color:white;
      cursor:pointer;
      mat-icon{
        display: block;
        margin:0 auto;
        margin-top:8px;
        
      }
    }

  }
  .cancledsidebar{
    width:22%;
    height:40px;
    .closefilters{
      width:50px;
      height:40px;
      background:rgb(12, 97, 19);
      float:left;
      color:white;
      cursor:pointer;
      mat-icon{
        display: block;
        margin:0 auto;
        margin-top:8px;
        
      }
    }
  }
  .titleinheader{
    flex: 1;
    padding-top:5px;
    text-align: center;
    span{
     
      flex-shrink: 100;
      line-height: 24px;
    }
  }
}
.directory_show{
  display:flex;
  .side_bar_left_with_img {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
    width: 22%;
    height: calc(100%);
    &::before{
      content: '';
      position: absolute;
      width: 1px;
      height: 100%;
      background-color: #dde;
      right: 0px;
    }
    .profile_in_title {
      margin-top: 15px;
      border-radius: 3px;
      margin-left: 10%;
      width: 80%;
      height: 36px;
      margin-bottom: 5px;
      color: white;
      button{
        width: 100%;
      }
    }
   
      .sort_arrengement {
        display: flex;
        flex-direction: column;
        flex:1;
        margin-left:10%;
        position: relative;
        width: 100%;
        overflow: auto;
        .header_sort {
          display: block;
          text-align:left;
          width: 100%;
          height: 25px;
          font-size: 16px;
          font-weight: 700;
          color: rgb(180, 180, 197);
        }
        ul {
          list-style-type: none;
          li {
            position: relative;
            width: calc(100% - 4px);
            text-align: left;
            height: 33px;
            padding-left: 4px;
            line-height: 2;
            cursor: pointer;
            &:hover {
              color: rgb(51, 103, 214);
              
            }
            mat-icon {
              margin-top:5px;
              font-size: 23px;
            }
            span {
              position: absolute;
              top: 1px;
              margin-left:5px;
              font-size: 16px;
            }
          }
        }
        .filters {
          width: 100%;
          
        }
        .label {
          width: 100%;
       
        }
      }
    
  
  }

.profile_content_right {
  flex:1;
  display: flex;
  height: calc(100%);
  background: rgb(244, 245, 248);
  overflow-y: auto;
  .filefolder_container{
    width: 60%;
    height: calc(100% - 20px);
    padding-top:20px;

    .filecontainer{
      position:relative;
      border-radius: 5px;
      display: flex;
      margin-left: 2%;
     width: 96%;
     height: 50px;
     &:hover{
      border-radius:5px;
      cursor:pointer;
      background:rgb(225, 236, 243);
      .file-semidetails{
      .foldername{
        color:rgb(35, 63, 187);
      }
      button{
        display:block;
      }
    }
    
    }
    .file-image{
      width:80px;
      height:50px;
      .image{
        margin: 5px 10px;
        width:60px;
        height: 40px;
        background-image:url(../../../../../assets/others/icons8_folder_96px.png);
         background-position: 50% 50%;
         background-size:cover;
      }
    }
    .file-semidetails{

      flex:1;
      height:50px;
      overflow: hidden;
      padding-right:4px;
      span{
        line-height:2;
        font-size:13px;
        color:rgb(99, 99, 99)
      }
      .foldername{
        display: block;
        width:100%;
        line-height:2;
        height:20px;
        font-weight:700;
        font-size:15px;
        color:black;
      }
      button{
        display:none;
        position: absolute;
        top:6px;
        right:3px;

      }
    }
    }
  }
  .showdetails{
    flex: 1;
    max-width:300px;
    height: 100%;
    .clicked_file_show{
      margin-top:10px;
      width:90%;
      border-radius:5px;
      height:calc(40% - 10px);
      box-shadow:1px 1px 3px #dde;
      background: linear-gradient(285deg, rgba(57, 57, 57, 0.04) 0%, rgba(57, 57, 57, 0.04) 25%, rgba(126, 126, 126, 0.04) 25%, rgba(126, 126, 126, 0.04) 50%, rgba(80, 80, 80, 0.04) 50%, rgba(80, 80, 80, 0.04) 75%, rgba(117, 117, 117, 0.04) 75%, rgba(117, 117, 117, 0.04) 100%),
      linear-gradient(333deg, rgba(26, 26, 26, 0.04) 0%, rgba(26, 26, 26, 0.04) 25%, rgba(154, 154, 154, 0.04) 25%, rgba(154, 154, 154, 0.04) 50%, rgba(218, 218, 218, 0.04) 50%, rgba(218, 218, 218, 0.04) 75%, rgba(91, 91, 91, 0.04) 75%, rgba(91, 91, 91, 0.04) 100%),
      linear-gradient(45deg, rgba(14, 14, 14, 0.04) 0%, rgba(14, 14, 14, 0.04) 25%, rgba(216, 216, 216, 0.04) 25%, rgba(216, 216, 216, 0.04) 50%, rgba(44, 44, 44, 0.04) 50%, rgba(44, 44, 44, 0.04) 75%, rgba(111, 111, 111, 0.04) 75%, rgba(111, 111, 111, 0.04) 100%),
      linear-gradient(251deg, rgba(27, 27, 27, 0.04) 0%, rgba(27, 27, 27, 0.04) 25%, rgba(107, 107, 107, 0.04) 25%, rgba(107, 107, 107, 0.04) 50%, rgba(167, 167, 167, 0.04) 50%, rgba(167, 167, 167, 0.04) 75%, rgba(34, 34, 34, 0.04) 75%, rgba(34, 34, 34, 0.04) 100%),
      linear-gradient(63deg, rgba(114, 114, 114, 0.04) 0%, rgba(114, 114, 114, 0.04) 25%, rgba(16, 16, 16, 0.04) 25%, rgba(16, 16, 16, 0.04) 50%, rgba(190, 190, 190, 0.04) 50%, rgba(190, 190, 190, 0.04) 75%, rgba(159, 159, 159, 0.04) 75%, rgba(159, 159, 159, 0.04) 100%),
      linear-gradient(90deg, rgb(51, 103, 214), rgb(54, 166, 241));

    }
    .clicked_file_detail{
      width:100%;
      height:calc(60% - 10px);
      padding-top:10px;
      .file_1,.file_2,.file_3,.file_4{
        position:relative;
        overflow:hidden;
        width: 90%;
        height:15%;
        span{
          display:block;
        }
        .file_desc_span_header{
          font-weight: 700;

        }
      }
      .file_5{
        position:relative;
        overflow:hidden;
        width: 90%;
        height:40%;
        .file_desc_span_header{
          display:block;
          font-weight: 700;
        }
        span{
          mat-icon{
            font-size:14px;
            cursor:pointer;
          }
        }
        .sharework{
          display:flex;
          margin-top:3px;
          margin-bottom:13px;
          width:100%;
          height:30px;
          border-radius: 3px;
          box-shadow: 1px 2px 3px #dde;
          background:rgb(255, 255, 255);
          button{
            width:40px;
            border:none;
            color:black;
            background:#dde;
            height:30px;
            outline:none;
            cursor:pointer;
            border-top-right-radius:3px;
            border-bottom-right-radius:3px;

          }
          input{
            border-top-left-radius:3px;
            border-bottom-left-radius:3px;
            padding-left:10px;
            outline:none;
            border:none;
            width:calc(100% - 40px);
            height:30px;

          }
        }
        button{
         background:rgb(23, 202, 38);
         color:white;
         
        }
      }
    }
  }
}
}
@media screen and (max-width: 900px) {
  .directory_show{
    position:relative;
  .side_bar_left_with_img {
    position: absolute;
    width: 220px;
    background:white;
    box-shadow:1px 0px 12px rgb(46, 46, 48);
    z-index:999;
  }
  
  }
  .directory_header {
    .sort-header-inheader{
      position:absolute;
      width:220px;  
      box-shadow:2px 2px 10px rgb(46, 46, 48);

    }    
  }

}