
  ::-webkit-scrollbar {
    background-color: transparent;
    width: 8px
  }
  
  /* background of the scrollbar except button or resizer */
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-track:hover {
    background-color: #f4f4f400
  }
  
  /* scrollbar itself */
  ::-webkit-scrollbar-thumb {
    background-color: #babac0b7;
    border-radius: 8px;
    /* border:5px solid #fff */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    transition: 0.5 ease-in;
    background-color: rgb(51, 103, 214);
    border: 1px solid #f4f4f400;
    background-image: -webkit-linear-gradient(172deg, rgb(21, 57, 175), rgb(54, 166, 241));
  
  }