@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~material-design-icons/iconfont/material-icons.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import "~@ng-select/ng-select/themes/material.theme.css";
 *{
   margin: 0;
   padding: 0;
   outline:none;
  //  box-sizing:border-box;
 }
 ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #e1e1e141;
    border: 0px none #ffffff;
    border-radius: 0px;
    &:hover{
        background: #cccccc;
    }
    &:active{
        background: #888888;
    }
}
::-webkit-scrollbar-track {
    background: #66666625;
    border: 0px none #ffffff;
    border-radius: 0px;
    &:hover{
        background: #666666;
        cursor:all-scroll;
    }
    &:active{
        background: #333333;
    }
}
::-webkit-scrollbar-corner {
  background: transparent;
}
.directory_show{
  width: 100%;
  overflow-y: auto;
  height: calc(100% - 40px);
}
.mat-header-row{
  position: sticky;
  top: 0px;
  z-index: 20;
  box-shadow: 1px 2px 3px #dde !important;
}
.example-small-box:not(.tool)  .ql-toolbar,.mail-body .ql-toolbar{
display:none;
}
.example-small-box.tool  .ql-toolbar,.mail-body .ql-toolbar{
  border-top: none;
  }
.example-small-box-dialog  .ql-toolbar{
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
  }
.preview_assignment .ql-toolbar.ql-snow {
  position: sticky;
  top:0px;
  z-index: 199;
  background-color: rgb(255, 255, 255);
  border: none !important;
  box-shadow: 1px 2px 5px rgb(162, 162, 175) !important;
}
.giveanswer .ql-container.ql-snow {
  height: 147px !important;
  overflow:auto;
}
.preview_assignment .ql-toolbar.ql-snow + .ql-container.ql-snow {
  border-top: 0px;
}
.preview_assignment .ql-editor{
  position: absolute;
  height: auto !important;
  min-height: calc(100% - 10px);
  width: calc(100% - 80px);
  background-color: rgb(255, 255, 255);
  margin: 10px 40px 0 40px;
  z-index: 0;
}
.preview_assignment .ql-container.ql-snow,.example-small-box .ql-container.ql-snow,.mail-body .ql-container.ql-snow{
border: none !important;
}

.preview_assignment .ql-container {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  height: 100%;
  margin: 0px;
  position: relative;
  overflow-y: auto;
}
.ngx-contextmenu .dropdown-menu {
  width: 200px;
  background-color: rgb(255, 255, 255);
  background: rgb(255,255,255);
  box-shadow: 1px 2px 15px #dde;
  padding: 0;
  border-radius:5px;
}
.ngx-contextmenu li {
  position: relative;
  width:100%;
  height: 35px;
  color: rgb(36, 35, 35);
  display: block;
  text-transform: capitalize;
  text-align: left;

}

.ngx-contextmenu a {
  position: absolute;
  line-height: 2.5;
  display: block;
  padding-left: 20px;
  color: rgb(36, 35, 35);
  width: calc(100% - 25px);
  height: 100%;
  text-decoration: none;
  mat-icon{
    font-size:16px;
  }
  &:hover{
    color: white;
  }


}
.hasSubMenu:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent currentColor;
  content: "" !important;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
}
.ngx-contextmenu li:hover {
  cursor: pointer;
  background-image: -webkit-linear-gradient(172deg, rgb(21, 57, 175), rgb(54, 166, 241));

}

.mat-menu-panel{
.mat-menu-content{
  position:relative;
  width:240px;
  .user_menu_image{

    width: 100%;
    height: 100px;
    text-align: center;
   }
   .header_show_main{
     width: 100%;
     height: 70px;
   }
   .header_show_main img{
     top: 10px;
     position: absolute;
     width: 60px;
     height: 60px;
     border-radius: 50%;
     left: 40%;
     border:2px solid white;
     box-shadow: 1px 2px 5px #dde;

   }
   .image_container{
     width: 100px;
     height: 70px;
   }

   .header_show_main span{
     text-align: center;
     font-size: 15px;
   }

    a {
    text-decoration: none;
    line-height: 1.5;
    padding-top: 10px;
    padding-left: 20px;
    height: 30px;
    display: block;
    &:hover{
        cursor: pointer;
        background-image: -webkit-linear-gradient(172deg, rgb(21, 57, 175), rgb(54, 166, 241));
        color: rgb(255, 255, 255);
       mat-icon{
        color: rgb(255, 255, 255);
       }
    }
   }
  }
}
.editor-container{
  position:absolute !important;
}
.as-split-gutter{
    flex-basis: 2px !important;
    background:rgb(37, 37, 37) !important;
}

.ql-tooltip{
  left:0 !important;
}
.footer_assign .mat-list-base {
  padding-top: 0px !important;
}
.footer_assign .mat-list-base .mat-list-item.mat-list-item-with-avatar {
  height: 60px !important;
}
.searchmembermessage{
  background:rgba(255, 255, 255, 0);
}
.as-split-gutter .as-split-gutter-icon{
  background-image: none !important;
}
.split-examplecode .as-split-gutter{
  flex-basis: 1px !important;
  z-index:300;
  background: rgb(105, 105, 105) !important;
}
.newstudent .mat-dialog-container{
  overflow: none;
}
.newstudent {
  .mat-dialog-container{
    overflow: inherit;

.mat-dialog-content{
  overflow: inherit;
}
}
}
.ng-select-container {
  width: 80% !important;
  left: 10%;
}
.ng-option{
  display: flex;
  img{
    border-radius: 50%;
    display:inline-block;
    border: 1px solid white;
    box-shadow: 1px 0 1px #dde;
  }
}
.uploaded{
  width: 100%;
  ul{
    list-style-type: none;
    li{
      width: 90%;
      height: 40px;
      background: rgb(80, 80, 87);
      margin-top: 3px;
      color: white;
      margin: 2px 5%;
      border-radius: 5px;
      &:last-child{
        margin-bottom: 20px;
      }

    }
  }
}
