*{
  box-sizing: border-box;
  //overflow: hidden;
}
.example-small-box{
    width: 100%;
    height: calc(77vh);
    overflow-y: auto;
    .title_replys{
      display: flex;
      height: 48px;
      width: 100%;
      border-bottom: 1px solid #dde;
      .title_title{
  flex: 1;
  height: 48px;
      }
      .close_relys{
        width: 48px;
        height: 48px;
        button{
          height: 36px;
          top: 6px;
          width: 36px;
          align-items: center;
          border-radius: 4px;
          display: inline-flex;
          justify-content: center;
          position: relative;
          background: none;
          border: 0;
          margin: 0;
          line-height: inherit;
          overflow: initial;
          padding: 0;
          text-align: initial;
          vertical-align: initial;
          cursor: pointer;
          &:hover{
            background: #dde;
          }
          .c-icon {
            position: relative;
            display: inline-flex;
            width: 26px;
            height: 26px;
            align-items: center;
             justify-content: center;
             &::before{
              display: inline-block;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 1;
             }
         }
        }
      }
    }

  }
  .messages{
    display: flex;
    flex-direction: column;
    height: calc(100% - 2px);
    background: white;
    .chat-actions{
      min-height: 84px;
      position: relative;
      margin-top: 5px;
      width:100%;
      // overflow: hidden;

     .write_message{
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items:flex-end;
       .writecommentimage{
        margin-right: 20px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
        margin-right:10px;
       }

     }
    }
    .chat-content{

      flex:1;
      overflow-y: auto;
    }
  }
  .download-button{
    position: absolute;
    width: 15%;
    height: 47px;
    right: -24px;
    z-index: 200;
    top: -5px;
    button{
      margin-right: 10px;
    }
  }
  .chat-content{
    border-radius: 0;
    .chat-actions{
        padding: 12px;
    }
    .talk-item{
        padding: 6px 0;
        height: 100%;
    }
    .message{
        white-space: unset;
        text-overflow: unset;
        span{
            padding: 0px 10px;
            border-radius: 4px;
            display: inline-block;
            font-size: 12px;
        }
    }
    .message-date{
      small{
        opacity: 0.8;
        margin-right:30px;
      }

    }
    .empty{
        mat-icon{
            font-size: 220px;
            height: 220px;
            width: 220px;
            opacity: 0.4;
        }
        p{
            font-size: 18px;
            opacity: 0.8;
        }
    }
}
