<div style="position:relative">
  <div class="download-button">
    <button mat-icon-button color="primary" (click)="printpdf()"><mat-icon>file_download</mat-icon></button>
    <button mat-icon-button color="warn" (click)="dialogRef.close()"><mat-icon>close</mat-icon></button>
  </div>
<mat-tab-group  mat-align-tabs="center">
  <mat-tab label="questions">
    <div class="example-small-box" [ngClass]="data.authorized?'tool':''">
      <quill-editor [(ngModel)]="taskreviewcontent.long" placeholder="loading .........." name="long_desc" [styles]="{height: '100%',position: 'absolute',width:'100%'}" [disabled]="!data.authorized" (onEditorCreated)="addclassquill()"></quill-editor>
    </div>
  </mat-tab>
  <mat-tab label="Answers">
    <div class="example-small-box" [ngClass]="data.authorized?'tool':''">
      <quill-editor [(ngModel)]="taskreviewcontent.short" placeholder="loading .........." name="long_desc" [styles]="{height: '100%',position: 'absolute',width:'100%'}" [disabled]="!data.authorized"></quill-editor>
    </div>
  </mat-tab>
  <mat-tab label="issues">
    <div class="example-small-box ">
      <mat-sidenav-container fullscreen>
        <mat-sidenav #sidenav  mode="side" [opened]="sideopened" class="example-sidenav" position="end">
          <div class="title_replys">
           <div class="title_title"></div>
           <div class="close_relys">
             <button (click)="sidenav.toggle()"><svg class="c-icon " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 10.586l4.95-4.95 1.414 1.414-4.95 4.95 4.95 4.95-1.414 1.414-4.95-4.95-4.95 4.95-1.414-1.414 4.95-4.95-4.95-4.95L7.05 5.636z"/></svg></button>
           </div>
          </div>
          <div class="messages" style="height: calc(100% - 50px);">
            <div class="chat-content showtools"  [class.actions-visible]="talks" perfectScrollbar>
              <app-issues *ngIf="Replys" [talks]="Replys" [task]="data.taskid">
              </app-issues>
                <div *ngIf="!talks" fxLayout="column" fxLayoutAlign="center center" class="h-100 empty">
                    <mat-icon>chat</mat-icon>
                    <p>no issue with this task yet</p>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div class="chat-actions">
              <div fxLayout="row" fxLayoutAlign="space-between center" class="write_message">
                <!-- <img class="writecommentimage" *ngIf="!image" src="../../../../../assets/tuy.png">
                <img class="writecommentimage" *ngIf="image" [src]="image"> -->
                  <div class="w-100 writerelydiv" style="width:60%">
                    <quill-editor customToolbarPosition="bottom" [modules]="modules"  (onEditorCreated)="addBindingCreated($event)" [(ngModel)]="replyissue" name="message"  [style]="{width:'100%',display:'flex',flexDirection:'column-reverse'}">
                  </quill-editor>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="center center" style="margin-left:20px">
                      <button mat-mini-fab color="primary" type="button" (click)="sendReply()">
                          <mat-icon>send</mat-icon>
                      </button>
                  </div>
                  </div>
         </div>
        </div>
        </mat-sidenav>

        <div class="example-sidenav-content" style="height:100%;width:100%">
          <div class="messages">
            <div class="chat-content showtools"  [class.actions-visible]="talks" perfectScrollbar>
              <app-issues *ngIf="talks"[talks]="talks" [task]="data.taskid" (toggleSidebar) ="openreply($event)">
              </app-issues>
                <div *ngIf="!talks" fxLayout="column" fxLayoutAlign="center center" class="h-100 empty">
                    <mat-icon>chat</mat-icon>
                    <p>no issue with this task yet</p>
                </div>
            </div>
            <mat-divider></mat-divider>
            <div *ngIf="talks" class="chat-actions">
              <div fxLayout="row" fxLayoutAlign="space-between center" class="write_message">
                <img class="writecommentimage" *ngIf="!image" src="../../../../../assets/tuy.png">
                <img class="writecommentimage" (click)="sidenav.toggle()" *ngIf="image" [src]="image">
                  <div class="w-100 writerelydiv" style="width:60%">
                    <quill-editor customToolbarPosition="bottom" [modules]="modules"  (onEditorCreated)="addBindingCreated($event)" [(ngModel)]="newMessage" name="message"  [style]="{width:'100%',display:'flex',flexDirection:'column-reverse'}">
                  </quill-editor>
                  </div>
                  <div fxLayout="row" fxLayoutAlign="center center" style="margin-left:20px">
                      <button mat-mini-fab color="primary" type="button" (click)="sendMessage()">
                          <mat-icon>send</mat-icon>
                      </button>
                  </div>
                  </div>
         </div>
        </div>

        </div>


      </mat-sidenav-container>

      </div>

  </mat-tab>

</mat-tab-group>
</div>

