<div class="directory_header" style="height: 40px">

  <div class="cancledsidebar">
    <div class="closefilters" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </div>
  </div>
  <div class="titleinheader"><span>challenges</span></div>
</div>
<div class="view-profile-over" [@openClose]="isviewOpen ? 'open' : 'closed'"></div>
<div class="directory_show">
  <div class="profile_content_right">
    <mat-card class="example-card" style="box-shadow:none;background:transparent;">

      <div class="profileimage">
        <div class="profileimageeditandshow">
        <img src="../.././../../../assets/profile_picture/41594424503.png" alt="">
        <div class="changeprofileimage" (mouseover)="changesize=true" (mouseleave)="changesize=false" [@collapse]="collapseState">
        <mat-icon>camera_enhance</mat-icon>
        </div>
        </div>
        <div class="conent-info-profile">
           <span class="username">tuyishime jeandamour</span>
           <button mat-button  (click)="isviewOpen = !isviewOpen" >View profile</button>
        </div>
      </div>

      <div class="profile-namedetail">
        <div class="profiledetails">

        </div>
        <div class="performcechart">
          <highcharts-chart
          [Highcharts]="Highcharts"
          [options]="chartOptions"
          style="width: 100%; height: 200px; display: block;"
        ></highcharts-chart>
        </div>

      </div>
    </mat-card>
    <mat-card class="example-card" style="box-shadow: none;background: transparent;">
      <mat-card class="example-card1">
        <mat-card-header>
          <mat-card-title>Tasks</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <mat-nav-list class="p-0 mailbox-sidenav-list" perfectScrollbar>
            <div *ngFor="let mail of mails ">
              <mat-list-item [ngClass]="{'unread': mail.unread, 'selected': mail.selected}">
                <div class="file-image" matListAvatar>
                  <div class='image'>
                    <span>js</span>
                  </div>
                </div>
                <div matLine style="display: flex;justify-content: space-between;">
                  <h6 class="text-truncate sender">{{mail.sender}}</h6>
                  <small>{{mail.date}}</small>
                </div>
                <p matLine class="text-truncate subject">{{mail.subject}}</p>
              </mat-list-item>
              <mat-divider></mat-divider>
            </div>
          </mat-nav-list>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card1">
        <mat-card-header>
          <mat-card-title>Message</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <mat-nav-list class="mailbox-sidenav-list" perfectScrollbar>
            <mat-list-item *ngFor="let chat of chats" (click)="getChat(chat)">
              <img matListAvatar [src]="chat.image">
              <div matLine style="display: flex;justify-content: space-between;">
                <h6 class="text-truncate sender"> {{chat.author}} </h6>
                <small [ngSwitch]="chat.authorStatus">
                  <mat-icon *ngSwitchCase="'Online'" class="chat-status-icon">check_circle</mat-icon>
                  <mat-icon *ngSwitchCase="'Offline'" class="chat-status-icon">highlight_off</mat-icon>
                  <mat-icon *ngSwitchCase="'Away'" class="chat-status-icon">schedule</mat-icon>
                  <mat-icon *ngSwitchCase="'Do not disturb'" class="chat-status-icon">not_interested</mat-icon>
                </small>
              </div>
              <p matLine class="text-truncate subject">{{chat.text}}</p>
              <mat-divider></mat-divider>
            </mat-list-item>

          </mat-nav-list>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card1">
        <mat-card-header>
          <mat-card-title>Remainders</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content>
          <mat-nav-list class="p-0 mailbox-sidenav-list" perfectScrollbar>
            <div *ngFor="let mail of mails " (click)="viewDetail(mail)">
              <mat-list-item [ngClass]="{'unread': mail.unread, 'selected': mail.selected}">
                <img *ngIf="mail.senderPhoto" matListAvatar [src]="mail.senderPhoto">
                <img *ngIf="!mail.senderPhoto" matListAvatar
                  src="../../../../../assets/profile_picture/31592671453.png">
                <div matLine fxLayout="row" fxLayoutAlign="space-between space-between">
                  <h6 class="text-truncate sender">{{mail.sender}}</h6>
                  <small>{{mail.date}}</small>
                </div>
                <p matLine class="text-truncate subject">{{mail.subject}}</p>
              </mat-list-item>
              <mat-divider></mat-divider>
            </div>
          </mat-nav-list>
        </mat-card-content>
      </mat-card>

    </mat-card>
    <mat-card class="chat example-card" *ngIf="talks">
      <mat-drawer-container class="chat-container ">
        <mat-drawer #sidenav [opened]="sidenavOpen" [mode]="sidenavOpen ? 'side' : 'over'" class="chat-sidenav"
          autoFocus="false">
          <div class="profile_in_title">
            <button mat-raised-button (click)="openNewFolderDialog()" class="create_new"
              aria-label="Example icon button with a plus one icon">
              <mat-icon>add</mat-icon>
              <span>new chat</span>
            </button>
          </div>
          <mat-nav-list class="p-0 chat-sidenav-list" perfectScrollbar>
            <mat-list-item *ngFor="let chat of chats" (click)="getChat(chat)">
              <img matListAvatar [src]="chat.image">
              <h6 matLine> {{chat.author}} </h6>
              <p matLine  style="display: flex;justify-content: left;" class="secondary-text-color">
                <span [ngSwitch]="chat.authorStatus">
                  <mat-icon *ngSwitchCase="'Online'" class="chat-status-icon">check_circle</mat-icon>
                  <mat-icon *ngSwitchCase="'Offline'" class="chat-status-icon">highlight_off</mat-icon>
                  <mat-icon *ngSwitchCase="'Away'" class="chat-status-icon">schedule</mat-icon>
                  <mat-icon *ngSwitchCase="'Do not disturb'" class="chat-status-icon">not_interested</mat-icon>
                </span>
                <span class="author-status">{{chat.authorStatus}}</span>
              </p>
              <p matLine class="text-truncate subject">{{chat.text}}</p>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-nav-list>
        </mat-drawer>

        <div class="container_chat_content">
          <div class="chat-content" [class.actions-visible]="talks" perfectScrollbar>
            <mat-list *ngIf="talks" class="p-0">
              <mat-list-item *ngFor="let talk of talks" class="talk-item">
                <img matListAvatar (click)="personInfo.toggle()" [src]="talk.image">
                <p matLine class="message">
                  <span [ngClass]="(talk.my) ? 'bg-primary' : 'bg-accent'">{{talk.text}}</span>
                </p>
                <p matLine class="message-date">
                  <small>{{talk.date | date:"dd MMMM, yyyy 'at' HH:mm"}}</small>

                </p>
              </mat-list-item>
            </mat-list>
            <div *ngIf="!talks" fxLayout="column" fxLayoutAlign="center center" class="h-100 empty">
              <mat-icon>chat</mat-icon>
              <p>Select a interlocutor for talk</p>
            </div>
          </div>
          <div *ngIf="talks" class="chat-actions">
            <div fxLayout="row" fxLayoutAlign="space-between center" class="write_message">
              <img class="writecommentimage" src="../../../../../assets/tuy.png">
              <mat-form-field class="w-100" style="width:60%">
                <input matInput placeholder="ask any problem about task" (keyup)="sendMessage($event)"
                  [(ngModel)]="newMessage">
              </mat-form-field>
              <div fxLayout="row" fxLayoutAlign="center center">
                <button mat-mini-fab color="primary" type="button" (click)="sendMessage($event)">
                  <mat-icon>send</mat-icon>

                </button>
              </div>
            </div>
          </div>
        </div>

        <mat-drawer #personInfo mode="over" position="end" class="person-info-sidenav mat-elevation-z1"
          autoFocus="false">
          <div class="p-0 h-100" perfectScrollbar>

            <div class="bg-primary w-100 text-center" style="display: flex;justify-content: center;">
              <div fxLayout="row" fxLayoutAlign="space-between center" style="display: flex;justify-content: center;padding-left:20px;"class="p-2">
                <h2>Contact Info</h2>
                <button mat-icon-button (click)="personInfo.toggle()">
                  <mat-icon>close</mat-icon>
                </button>
              </div>
              <img *ngIf="currentChat" [src]="currentChat.image" class="py-2">
              <h2 *ngIf="currentChat" class="pb-3">{{currentChat.author}}</h2>
            </div>
            <mat-list>
              <mat-list-item>
                <mat-icon matListIcon class="secondary-text-color">mail_outline</mat-icon>
                <h3 matLine>author@gmail.com</h3>
              </mat-list-item>
              <mat-list-item>
                <mat-icon matListIcon class="secondary-text-color">call</mat-icon>
                <h3 matLine>(202) 756-9756</h3>
              </mat-list-item>
              <mat-list-item>
                <mat-icon matListIcon class="secondary-text-color">location_on</mat-icon>
                <h3 matLine>2903 Avenue Z, Brooklyn, NY</h3>
              </mat-list-item>
            </mat-list>
          </div>
        </mat-drawer>

      </mat-drawer-container>
    </mat-card>
  </div>

</div>
