<div class="directory_header" style="height: 40px">
  <div class="sort-header-inheader" [@openClose]="!isOpen ? 'open' : 'closed'">
    <div class="closefilter" (click)="toggle()">
      <mat-icon>menu</mat-icon>
    </div>
  </div>
  <div class="cancledsidebar" [@openClose]="isOpen ? 'open' : 'closed'">
    <div class="closefilters" (click)="toggle()">
      <mat-icon>menu</mat-icon>
    </div>
  </div>
  <div style="display:inline-block;margin-left:40%"><span
      style="position: absolute;top:10px;font-size:14px;font-weight:600">Your profile</span></div>
</div>
<div class="directory_show">
  <div class="side_bar_left_with_img" [@openClose]="!isOpen ? 'open' : 'closed'">

  </div>
  <div class="profile_content_right">
    <mat-card class="example-card" style="box-shadow: none;background: transparent;">

      <div class="profileimage">
        <img src="../.././../../../assets/profile_picture/41594424503.png" alt="">
      </div>
      <div class="profile-namedetail"></div>
    </mat-card>
    <mat-card class="example-card" style="box-shadow: none;background: transparent;">
      <mat-card class="example-card1">
        <mat-card-header>
          <mat-card-title>Tasks</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
      </mat-card>
      <mat-card class="example-card1">
        <mat-card-header>
          <mat-card-title>Message</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
      </mat-card>
      <mat-card class="example-card1">
        <mat-card-header>
          <mat-card-title>Remainders</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
      </mat-card>

    </mat-card>
    <mat-card class="example-card">

    </mat-card>
  </div>

</div>
